{% use "bootstrap_4_layout.html.twig" %}

{% block phone_number_widget -%}
    {% if widget is constant('Misd\\PhoneNumberBundle\\Form\\Type\\PhoneNumberType::WIDGET_COUNTRY_CHOICE') %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) %}
        <div {{ block('widget_container_attributes') }}>
            {{- form_widget(form.country, {'attr' : {'class': 'col-sm-3'}}) -}}
            {{- form_widget(form.number, {'attr' : {'class': 'col-sm-8 offset-sm-1 mt-3 mt-sm-0'}}) -}}
        </div>
    {% else -%}
        {{- block('form_widget_simple') -}}
    {%- endif %}
{%- endblock phone_number_widget %}

{% block radio_widget %}
    {% if expanded %}
        <label for="{{ id }}" class="{{ parent_label_class }}">
            <input type="radio" {{ block('widget_attributes') }}
                {% if value is defined %}value="{{ value }}"{% endif %}
                {% if checked %} checked="checked"{% endif %} />
            {{ label }}
        </label>
    {% else %}
        <input type="radio" {{ block('widget_attributes') }}
            {% if value is defined %}value="{{ value }}"{% endif %}
            {% if checked %} checked="checked"{% endif %} />
        <label for="{{ id }}">{{ label }}</label>
    {% endif %}
{% endblock radio_widget %}

{% block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_widget(child, {
                parent_label_class: label_attr.class|default(''),
                translation_domain: choice_translation_domain,
                valid: valid,
                expanded: expanded
            }) -}}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded %}

{% block collection_widget %}
    {% apply spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}
        {{ block('form_widget') }}
    {% endapply %}
{% endblock collection_widget %}

{%- block vich_image_widget -%}
    <div class="vich-image">
        {%- if image_uri -%}
            <a href="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}" download>
                <img src="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}" alt=""/>
            </a>
        {%- endif -%}
        {%- if download_uri -%}
            <div>
                <a href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}" download>
                    {{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}
                </a>
            </div>
        {%- endif -%}

        <div class="mt-3">
            {{- form_widget(form.file) -}}
        </div>
    </div>

    {%- if form.delete is defined -%}
        {{- form_row(form.delete) -}}
    {%- endif -%}
{%- endblock -%}

{%- block vich_file_widget -%}
    <div class="vich-file row">
        {%- if download_uri -%}
            <div class="col-2">
                <a href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}" download
                   class="mb-3">
                    <i class="fas fa-file-image fa-3x"></i>
                </a>
            </div>
        {%- endif -%}

        <div class="col-9 offset-1">
            {{- form_widget(form.file) -}}
            {%- if form.delete is defined -%}
                {{- form_row(form.delete) -}}
            {%- endif -%}
        </div>
    </div>
{%- endblock -%}

{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {%- set parent_label_size = parent_label_size|default(label_attr.size|default('')) -%}
    {%- if 'checkbox-custom' in parent_label_class -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' custom-control-input')|trim}) -%}
        <div class="custom-control custom-checkbox{{ 'checkbox-inline' in parent_label_class ? ' custom-control-inline' }}">
            {{- form_label(form, null, { widget: block('checkbox_widget_content') }) -}}
        </div>
    {%- elseif 'switch-custom' in parent_label_class -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' custom-control-input')|trim}) -%}
        <div class="custom-control custom-switch{{ 'switch-inline' in parent_label_class ? ' custom-control-inline' }}{{ parent_label_size != '' ? ' custom-switch-'~parent_label_size }}">
            {{- form_label(form, null, { widget: block('checkbox_widget_content') }) -}}
        </div>
    {%- else -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-check-input')|trim}) -%}
        <div class="form-check{{ 'checkbox-inline' in parent_label_class ? ' form-check-inline' }}">
            {{- form_label(form, null, { widget: block('checkbox_widget_content') }) -}}
        </div>
    {%- endif -%}
{%- endblock checkbox_widget %}

{%- block checkbox_widget_content -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget_content -%}

{% block datetime_widget -%}
    <div class="row">
        <div class="col-12 col-md">
            {{- form_widget(form.date) -}}
        </div>

        <div class="col-12 col-md">
            {{- form_widget(form.time) -}}
        </div>
    </div>
{%- endblock datetime_widget %}

{% block date_widget %}
    <div class="fields-group">
        {{- parent() -}}
    </div>
{% endblock %}

{% block time_widget %}
    <div class="fields-group">
        {{- parent() -}}
    </div>
{% endblock %}

{%- block widget_attributes -%}
    {{ parent() }}
    {%- if required %} required="required" pattern=".*\S+.*"{% endif -%}
{%- endblock widget_attributes -%}

{% block form_label -%}
    {% if label is not same as(false) -%}
        {%- if compound is defined and compound -%}
            {%- set element = 'legend' -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
        {%- else -%}
            {%- set label_attr = label_attr|merge({for: id}) -%}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {%- if translation_domain is same as(false) -%}
            {%- if label_html is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html is same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}
        </{{ element|default('label') }}>
        {% block form_label_errors %}{{- form_errors(form) -}}{% endblock form_label_errors %}
    {%- else -%}
        {%- if errors|length > 0 -%}
            <div id="{{ id }}_errors" class="mb-2">
                {{- form_errors(form) -}}
            </div>
        {%- endif -%}
    {%- endif -%}
{%- endblock form_label %}
