<div class="py-4">
    <div class="titled-p">
        <div class="text">
            <div class="matches">
                {% for demand in accommodationDemands %}
                    <div class="match {{ demand.classStatus }}" data-controller="popup-on-click" data-popup-on-click-id-value="{{ demand.id }}">
                        <div class="profile">
                            {% if isSenior %}
                                {% set user = demand.young %}
                            {% else %}
                                {% set user = demand.senior %}
                            {% endif %}

                            {% if user != app.user %}
                                <div>
                                    {% include "user/_image_user.html.twig" %}
                                    <div class="name">
                                        <a href="{{ path('user_show', {'id': user.id}) }}">{{ user.fullName }}</a>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="description">{{ demand.description }}</div>
                        </div>
                        <div class="state {{ demand.classStatus }}">
                            <span class="text">{{ demand.status|readable_enum('AccommodationDemandStatusType')|trans }}</span>
                        </div>
                        <div class="actions">
                            {% if is_granted(constant('App\\Enum\\AccommodationDemandVoterEnum::EDIT'), demand) %}
                                <a class="action accept fas fa-pen" href="{{ path('accommodation_demand_edit', {'id': demand.id}) }}"></a>
                                <a href="#" class="action decline fas fa-times" data-action="popup-on-click#click" data-route="accommodation_demand_status_abandoned"></a>
                            {% elseif is_granted(constant('App\\Enum\\AccommodationDemandVoterEnum::RESPOND'), demand) %}
                                <a href="#" class="action accept fas fa-check" data-action="popup-on-click#click" data-route="accommodation_demand_status_accepted"></a>
                                <a href="#" class="action decline fas fa-times" data-action="popup-on-click#click" data-route="accommodation_demand_status_refused"></a>
                            {% elseif demand.cohabitation is defined and is_granted(constant('App\\Enum\\CohabitationVoterEnum::SHOW'), demand.cohabitation) %}
                                <a href="{{ path('cohabitation_show', {'id': demand.cohabitation.id}) }}" class="btn btn-sm btn-secondary">
                                    <i class="fas fa-file-contract"></i> {{ 'cohabitation.show.button'|trans }}
                                </a>
                            {% elseif demand.refusingExplanation is not null%}
                                <div class="description {{ user == app.user?'full-width' }}">{{ demand.refusingExplanation }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
