<div class="accommodation">
    {{ form_start(form) }}

    <div class="py-4">
        {{ form_row(form.description) }}
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}

    <div class="pt-4 text-right">
        <button type="submit" class="btn btn-primary btn--shadow">{{ 'actions.submit'|trans }}</button>
    </div>

    {{ form_end(form) }}
</div>
