{% if association is defined and association is not null %}
    {% set url = vich_uploader_asset(association, 'logoFile') %}
{% endif %}

{% if url is not defined or url is null %}
    {% set url = asset('build/images/no_logo.svg') %}
{% endif %}

<div class="photo {% if class is defined %}{{ class }}{% endif %}">
    <img src="{{ url }}" alt="Association Logo"/>
</div>
