{% block stylesheets %}
    {{ encore_entry_link_tags('main') }}
    {{ encore_entry_link_tags('association') }}
{% endblock %}

<div class="container">
    {% include 'association/edit.html.twig' %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('main') }}
    {{ encore_entry_script_tags('association') }}
{% endblock javascripts %}