<div class="association" data-controller="form-submission">
    {{ form_start(form, {'action': path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))}) }}

    {% include "association/_logo_association.html.twig" %}
    {{ form_row(form.logoFile) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.website) }}
    {% if form.email is defined %}
        {{ form_row(form.email) }}
    {% endif %}
    {{ form_row(form.phoneNumber) }}
    {% if form.type is defined %}
        {{ form_row(form.type) }}
    {% endif %}
    {% if form.location is defined %}
        <div class="position-relative">
            {{ form_row(form.location) }}
        </div>
    {% endif %}

    <fieldset class="form-group">
        {{ form_label(form.radiusRange) }}
        <div class="form-inline">
            {{ form_widget(form.radiusRange, {'attr': {'class': 'col-sm-3'}}) }}
            {{ form_widget(form.radiusUnit, {'attr': {'class': 'col-sm-3 offset-sm-1 mt-3 mt-sm-0'}}) }}
        </div>
    </fieldset>

    {% if form.activated is defined %}
        <div class="pt-4">
            {{ form_row(form.activated) }}
        </div>
    {% endif %}

    <div class="pt-4">
        <p class="font-weight-bold">{{ 'association.cohabitation_preferences'|trans }}</p>
        {{ form_row(form.checkDeposit) }}
        {{ form_row(form.checkInsurance) }}
        {{ form_row(form.agreementVersion) }}
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}

    <div class="pt-4 text-right">
        <button type="submit" class="btn btn-primary btn--shadow" data-form-submission-target="submitButton">
            {{ 'actions.submit'|trans }}
        </button>
    </div>

    {{ form_end(form) }}
</div>
