{% extends 'account/_panels.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('associations_list') }}
{% endblock %}

{% block title %}| {{ 'association.list.meta.title'|trans }}{% endblock %}

{% block dashboardContent %}
    <div class="panel">
        <div class="content">
            <div class="row pl-3 pb-3">
                <a role="button" class="btn btn-primary" href="{{ path('association_new') }}">
                    <i class="fas fa-plus-circle"></i> {{ 'association.list.new.button'|trans }}
                </a>
            </div>

            <div id="tabulator"
                 data-types="{{ types|json_encode }}"
                 data-boolean="{{ booleanFilter|json_encode }}"
                 data-filters="{{ app.request.query.all|json_encode }}"
            ></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('associations_list') }}
{% endblock javascripts %}
