<div class="row align-items-center">
    <div class="col-2">
        {% include "association/_logo_association.html.twig" %}
    </div>
    <div class="col-8">
        <div class="name">{{ association.name }}</div>
    </div>
</div>
<div class="content mt-4" data-controller="popup-on-click" data-popup-on-click-id-value="{{ association.id }}">
    {% if association.description %}
        <div class="titled-p">
            <div class="title">{{ 'association.description'|trans }}</div>
            <div class="text">{{ association.description|raw|nl2br }}</div>
        </div>
    {% endif %}
    {% if association.website %}
        <div class="titled-p">
            <div class="title">{{ 'association.website'|trans }}</div>
            <div class="text"><a href="{{ association.website }}" target="_blank">{{ association.website }}</a></div>
        </div>
    {% endif %}
    <div class="titled-p">
        <div class="title">{{ 'association.location'|trans }}</div>
        <div class="text">{{ association.location.readableAddress }}</div>
        <div class="map mt-4">
            <div id="map-preview" class="interactive interactive-small"
                 data-controller="show-location"
                 data-location="{{ {'latitude': association.location.latitude, 'longitude': association.location.longitude}|json_encode }}"
            >
            </div>
        </div>
    </div>
    {% if association.phoneNumber %}
        <div class="titled-p">
            <div class="title">{{ 'association.phone_number'|trans }}</div>
            <div class="text">{{ association.phoneNumber|phone_number_format('INTERNATIONAL') }}</div>
        </div>
    {% endif %}

    <div class="titled-p">
        <div class="title">{{ 'association.type'|trans }}</div>
        <div class="text">{{ association.type|readable_enum('AssociationTypeType')|trans }}</div>
        {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_SENIOR')) and
            association.type == constant('App\\Enum\\AssociationTypeEnum::TYPE_YOUNG_ONLY')
        %}
            <div class="text">{{ 'association.info.can_not_manage'|trans }}</div>
        {% endif %}
    </div>

    <div class="titled-p">
        <div class="title">{{ 'association.range_radius'|trans }}</div>
        <div class="text">{{ association.radiusRange ~ ' ' ~ association.radiusUnit|readable_enum('AssociationRadiusUnitType')|trans }}</div>
        {% if canManageUser is defined %}
            <div class="text">{{ canManageUser ? 'association.info.can_manage'|trans : 'association.info.can_not_manage'|trans }}</div>
        {% endif %}
    </div>

    {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
        <div class="titled-p">
            <div class="title">{{ 'association.activated'|trans }}</div>
            <div class="text">{{ association.activated ? 'yes'|trans : 'no'|trans }}</div>
        </div>
        <div class="titled-p">
            <div class="title">{{ 'association.platformUse'|trans }}</div>
            <div class="text">{{ association.platformUse ? 'yes'|trans : 'no'|trans }}</div>
        </div>
    {% endif %}


    {% if path != 'association_edit' and is_granted(constant('App\\Enum\\AssociationVoterEnum::EDIT'), association) %}
        <div class="titled-p">
            <div class="title">{{ 'actions'|trans }}</div>
            <div class="text">
                {% set approvalButtons = [] %}

                {% if is_granted(constant('App\\Enum\\AssociationVoterEnum::DELETE'), association) %}
                    {% set approvalButtons = [
                        {
                            'route': 'association_delete',
                            'icon': 'fa-trash-alt',
                            'class': 'btn-danger mb-2',
                            'text': 'actions.delete'|trans
                        }
                    ] %}
                {% endif %}

                {% include 'default/_list_actions.html.twig' with {
                    'showButtons': [
                        {
                            'path': path('association_edit', {'id': association.id}),
                            'icon': 'fa-pen',
                            'text': 'actions.edit'|trans,
                            'class': 'btn-primary mb-2'
                        }
                    ],
                    'approvalButtons': approvalButtons
                } %}
            </div>
        </div>
    {% endif %}
</div>
