<div class="top-link py-3 d-none d-lg-flex">
    <div class="toolbox">
        <a href="{{ path('toolbox') }}" class="nav-link">
            <i class="fas fa-question-circle"></i>
        </a>
    </div>
    <div class="language-switcher">
        {% include 'default/language_switcher.html.twig' with {shortLocale: true} %}
    </div>
</div>

<div class="menu can-reduce">
    <div class="logo can-hide">
        <div class="block mb-4">
            <img src="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" width="200" alt="logo">
        </div>
        <div class="block">
            <img src="{{ asset('build/images/logos/WSWC.png') }}" width="150" alt="logo">
        </div>
    </div>

    {% if is_granted(constant('App\\Enum\\UserVoterEnum::ACCESS_ACCOUNT'), app.user) %}
        <hr class="hidden-md"/>
        <div class="menu-items">
            <a class="item {% if path == 'dashboard' %}active{% endif %}" href="{{ path('dashboard') }}">
                <i class="icon fas fa-tasks"></i>
                <div class="text can-hide">{{ 'menu.dashboard'|trans }}</div>
            </a>

            <a class="item {% if path starts with 'profile' %}active{% endif %}" href="{{ path('profile') }}">
                <i class="icon fas fa-user"></i>
                <div class="text can-hide">{{ 'menu.profile'|trans }}</div>
            </a>

            <a class="item {% if path starts with 'messages' %}active{% endif %}"
                 href="{{ path('messages') }}">
                <i class="icon fas fa-comment"></i>
                <div class="text can-hide">{{ 'menu.messages'|trans }}</div>
            </a>

            <a class="item {% if path == 'account_map' %}active{% endif %}"
                 href="{{ path('account_map') }}">
                <i class="icon fas fa-map"></i>
                <div class="text can-hide">{{ 'menu.map'|trans }}</div>
            </a>

            {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ASSOCIATION')) and not is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                <a class="item {% if path starts with 'association_' %}active{% endif %}"
                     href="{{ path('association_show', {'id': app.user.association.id}) }}">
                    <i class="icon fas fa-cog"></i>
                    <div class="text can-hide">{{ 'menu.settings'|trans }}</div>
                </a>
            {% endif %}

            {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ASSOCIATION')) %}
                <hr>

                <a class="item {% if path starts with 'user_' %}active{% endif %}"
                     href="{{ path('user_list') }}">
                    <i class="icon fas fa-users"></i>
                    <div class="text can-hide">{{ 'menu.members'|trans }}</div>
                </a>

                <a class="item {% if path starts with 'accommodation' %}active{% endif %}"
                     href="{{ path('accommodation_list') }}">
                    <i class="icon fas fa-home"></i>
                    <div class="text can-hide">{{ 'menu.accommodations'|trans }}</div>
                </a>

                <a class="item {% if path starts with 'cohabitation' %}active{% endif %}"
                     href="{{ path('cohabitation_list') }}">
                    <i class="icon fas fa-file-contract"></i>
                    <div class="text can-hide">{{ 'menu.cohabitations'|trans }}</div>
                </a>

                <a class="item {% if path == 'events' %}active{% endif %}" href="{{ path('event_list') }}">
                    <i class="icon fas fa-calendar"></i>
                    <div class="text can-hide">{{ 'menu.events'|trans }}</div>
                </a>

                {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')) %}
                    <a class="item {% if path starts with 'association_' %}active{% endif %}"
                         href="{{ path('association_list') }}">
                        <i class="icon fas fa-university"></i>
                        <div class="text can-hide">{{ 'menu.associations'|trans }}</div>
                    </a>

                    {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_SUPER_ADMIN')) %}
                        <a class="item {% if path starts with 'hobby_' %}active{% endif %}"
                             href="{{ path('hobby_list') }}">
                            <i class="icon fas fa-chess"></i>
                            <div class="text can-hide">Hobbies</div>
                        </a>
                    {% endif %}
                {% endif %}
            {% endif %}

            <hr>
            <a class="item" href="{{ path('logout') }}">
                <i class="icon fas fa-sign-out-alt"></i>
                <div class="text can-hide">{{ 'menu.logout'|trans }}</div>
            </a>
        </div>
    {% endif %}

    <div class="can-hide">
        <hr class="hidden-md"/>

        <div class="foot">
            <div class="copyright">
                {{ 'footer.copyright.funding'|trans }}
                <div class="cc">© <span>{{ "now"|date("Y") }}</span> WeShareWeCare</div>
            </div>
        </div>
    </div>
</div>
