{% extends 'base.html.twig' %}
{% set path = app.request.get('_route') %}

{% block stylesheets %}
    {{ encore_entry_link_tags('panels') }}
{% endblock %}

{% block body %}
    <div class="logo-container d-lg-none">
        <div class="top-link">
            <div class="toolbox">
                <a href="{{ path('toolbox') }}" class="nav-link">
                    <i class="fas fa-question-circle"></i>
                </a>
            </div>

            <div class="language-switcher">
                {% include 'default/language_switcher.html.twig' with {shortLocale: true} %}
            </div>
        </div>

        <img src="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" alt="logo">
        <img class="md" src="{{ asset('build/images/logos/WSWC.png') }}" alt="logo-text">
    </div>

    <div class="account-container" data-responsive-container>
        <div class="account-panel auto md-fixed can-collapse" data-collapse-menu="menu" data-responsive-fixed>
            {% include 'account/_menu.html.twig' %}
            <div class="collapse-btn revert">
                <div class="icon" data-collapse-trigger></div>
            </div>
        </div>
        <div class="account-panel major set">
            {% block dashboardContent %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('panels') }}
{% endblock %}
