{% extends 'account/_panels.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('association') }}
{% endblock %}

{% block title %}| {{ 'association.meta.title'|trans }}{% endblock %}

{% block dashboardContent %}
    <div class="panel">
        <div class="header">
            <h1 class="title">{{ 'association.title'|trans }}</h1>
        </div>
        {% if path == 'association_show' %}
            <div class="content">
                {% include 'association/show.html.twig' %}
            </div>
        {% else %}
            <div class="content">
                {% include 'association/edit.html.twig' %}
            </div>
        {% endif %}
    </div>

    {% if path == 'association_show' and (not(is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ASSOCIATION'))) or app.user.association != association ) %}
        {% include 'event/list_by_status.html.twig' with {'events': association.events, 'showDraft': true} %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('association') }}
{% endblock javascripts %}
