{% extends 'account/_panels.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block title %}| {{ 'dashboard.meta.title'|trans }}{% endblock %}

{% block dashboardContent %}
    {% if mode == constant('App\\Enum\\UserProfileTypeEnum::PROFILE_ADMIN') %}
        {% include 'dashboard/admin.html.twig' %}
    {% elseif mode == constant('App\\Enum\\UserProfileTypeEnum::PROFILE_ASSOCIATION') %}
        {% include 'dashboard/association.html.twig' %}
    {% else %}
        {% include 'dashboard/user.html.twig' %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}
