{% extends 'account/_panels.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('event') }}
{% endblock %}

{% block title %}| {{ 'event.meta.title'|trans }}{% endblock %}

{% block dashboardContent %}
    <div class="panel">
        <div class="header">
            <h1 class="title">{{ 'event.title'|trans }}</h1>
        </div>
        {% if path == 'event_show'  %}
            <div class="content">
                {% include 'event/show.html.twig' %}
            </div>
        {% else %}
            <div class="content">
                {% include 'event/edit.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('event') }}
{% endblock javascripts %}
