{% extends 'account/_panels.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('hobby') }}
{% endblock %}

{% block title %}| hobby{% endblock %}

{% block dashboardContent %}
    <div class="panel">
        <div class="header">
            <h1 class="title">Hobby</h1>
        </div>
        <div class="content">
            {% include 'hobby/edit.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('hobby') }}
{% endblock javascripts %}
