{% extends 'account/_panels.html.twig' %}

{% block title %}| {{ 'messaging.meta.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('messages') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('messages') }}
{% endblock %}

{% block dashboardContent %}
    <div class="dashboard-messages" id="messaging-app" data-user="{{ user|json_encode }}" data-new_thread="{{ newThread|json_encode }}">
        <div class="small-loader-loading m-auto"><div class="small-loader"></div></div>
    </div>
{% endblock %}
