{% extends 'account/_panels.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block title %}| {{ 'profile.current_user.meta.title'|trans }}{% endblock %}

{% block dashboardContent %}
    <div class="panel">
        <div class="content">
            <p>
                {{ 'profile.current_user.not_approved'|trans }}
            </p>
            <p>
                <a class="item" href="{{ path('logout') }}">
                    <i class="icon fas fa-sign-out-alt"></i> {{ 'menu.logout'|trans }}
                </a>
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile') }}
{% endblock javascripts %}
