{% extends 'account/_panels.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
    {{ encore_entry_link_tags('accommodation') }}
{% endblock %}

{% block title %}| {{ 'profile.other_user.meta.title'|trans({'%username%': user.fullName}) }}{% endblock %}

{% block dashboardContent %}
    {% if path in ['accommodation_demand_new', 'accommodation_demand_edit'] %}
        <div class="panel">
            <div class="header">
                <h1 class="title">{{ 'accommodation_demand.title'|trans }}</h1>
            </div>
            <div class="content">
                {% include 'accommodation_demand/edit.html.twig' %}
            </div>
        </div>
    {% endif %}

    <div class="panel">
        <div class="header">
            <h1 class="title">{{ 'profile.other_user.title'|trans }}</h1>
        </div>
        {% if path =='user_edit' %}
            <div class="content">
                {% include 'user/edit.html.twig' %}
            </div>
        {% else %}
            <div class="content">
                {% include 'user/show.html.twig' %}
            </div>
        {% endif %}
    </div>

    {% set isSenior = (user|role == constant('App\\Enum\\UserRoleEnum::ROLE_SENIOR')) %}
    {% set accommodation = user.accommodation %}

    {% if user.profile.showHomesharing %}
        {% if isSenior %}
            <div class="panel">
                <div class="header">
                    <h1 class="title">{{ 'accommodation.other_user.title'|trans }}</h1>
                </div>
                <div class="content">
                    {% if path == 'user_accommodation_edit' %}
                        {% include 'accommodation/edit.html.twig' %}
                    {% elseif accommodation %}
                        {% include 'accommodation/show.html.twig' with {'accommodation': accommodation} %}
                    {% elseif user.profile.isCompleted %}
                        <a href="{{ path('user_accommodation_edit', {'id': user.id}) }}">
                            <p>{{ 'accommodation.other_user.no_accommodation_yet'|trans }}</p>
                        </a>
                    {% else %}
                        <p>{{ 'accommodation.other_user.incomplete_profile'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if path not in ['accommodation_demand_new', 'accommodation_demand_edit'] and
            (accommodationDemands is defined and accommodationDemands|length > 0 or
            is_granted(constant('App\\Enum\\AccommodationVoterEnum::CREATE_DEMAND'), accommodation))
        %}
            <div class="panel">
                <div class="header">
                    <h1 class="title">{{ 'accommodation_demand.title'|trans }}</h1>
                </div>
                <div class="content">
                    {% if accommodationDemands is defined %}
                        {% include 'accommodation_demand/_sub_list.html.twig' %}
                    {% else %}
                        <div class="pt-4 text-center">
                            <a role="button" class="btn btn-primary btn--shadow"
                               href="{{ path('accommodation_demand_new', {'id': user.accommodation.id}) }}">
                                {{ 'accommodation_demand.create.button'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% include 'event/list_by_status.html.twig' with {'events': user.events} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile') }}
    {{ encore_entry_script_tags('accommodation') }}
{% endblock javascripts %}
