{% extends 'account/_panels.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
    {{ encore_entry_link_tags('accommodation') }}
{% endblock %}

{% block title %}| {{ 'profile.current_user.meta.title'|trans }}{% endblock %}

{% block dashboardContent %}
    <div class="panel">
        <div class="header">
            <h1 class="title">{{ 'profile.current_user.titlte'|trans }}</h1>
        </div>
        {% if path == 'profile_edit' %}
            <div class="content">
                {% include 'user/edit.html.twig' %}
            </div>
        {% else %}
            <div class="content">
                {% include 'user/show.html.twig' %}
            </div>
        {% endif %}
    </div>

    {% if user.profile.showHomesharing and is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_SENIOR')) %}
        {% set accommodation = user.accommodation %}

        <div class="panel">
            <div class="header">
                <h1 class="title">{{ 'accommodation.current_user.title'|trans }}</h1>
            </div>
            <div class="content">
                {% if path == 'profile_accommodation_edit' %}
                    {% include 'accommodation/edit.html.twig' %}
                {% elseif accommodation %}
                    {% include 'accommodation/show.html.twig' with {'accommodation': accommodation} %}
                {% elseif user.profile.isCompleted %}
                    <a href="{{ path('profile_accommodation_edit') }}">
                        <p>{{ 'accommodation.current_user.no_accommodation_yet'|trans }}</p>
                    </a>
                {% else %}
                    <p>{{ 'accommodation.current_user.incomplete_profile'|trans }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile') }}
    {{ encore_entry_script_tags('accommodation') }}
{% endblock javascripts %}
