{% if event is defined and event is not null %}
    {% set url = vich_uploader_asset(event, 'eventImageFile') %}
{% endif %}

{% if url is not defined or url is null %}
    {% set url = asset('build/images/no_event.svg') %}
{% endif %}

<div class="photo">
    <img src="{{ url }}" alt="Event image"/>
</div>
