{% if events | length > 0 %}
    <div class="pb-4">
        <div class="titled-p pt-4">
            <div class="title">{{ title }}</div>
            <div class="text">
                {% for event in events[:3] %}
                    {% include 'event/_sub_list_line.html.twig' %}
                {% endfor %}
            </div>

            {% if events | length > 3 %}
                <div data-controller="show-more-button">
                    <a class="d-block text-center" role="button" data-action="show-more-button#click">
                        {{ 'actions.show_more'|trans }}
                    </a>

                    <div class="d-none" data-show-more-button-target="content">
                        {% for event in events[3:] %}
                            {% include 'event/_sub_list_line.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
