<div class="row mb-4">
    <div class="col my-auto">
        {{ event.name }}
    </div>

    <div class="col my-auto">
        {{ event.date|format_datetime('short', 'short') }}
    </div>

    <div class="col-auto ml-auto mt-auto">
        {% include 'default/_list_actions.html.twig' with {
            'showButtons': [
                {
                    'path': path('event_show', {'id': event.id}),
                    'text': 'actions.show'|trans,
                    'class': 'btn-primary mb-2'
                }
            ]
        } %}
    </div>
</div>
