<div class="event">
    {{ form_start(form) }}

    {% include "event/_image_event.html.twig" %}

    <div class="py-4">
        <p class="font-weight-bold">{{ 'event.general'|trans }}</p>
        {{ form_row(form.eventImageFile) }}

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.date) }}
        {{ form_row(form.location) }}
    </div>


    <div class="py-4">
        <p class="font-weight-bold">{{ 'event.preferences'|trans }}</p>
        {{ form_row(form.languages) }}
        {{ form_row(form.isFree) }}
        {{ form_row(form.isHandicapAccessible) }}
        {{ form_row(form.isOpenAir) }}
    </div>

    <div class="py-4">
        <p class="font-weight-bold">{{ 'event.contact'|trans }}</p>
        <p class="text-right">
            <button type="button" class="btn btn-primary btn-sm" id="copy-contact-information"
                    data-email="{{ email }}" data-firstname="{{ firstname }}" data-lastname="{{ lastname }}"
                    data-phonenumber_country="{{ phoneNumber_country }}" data-phonenumber_number="{{ phoneNumber_number }}"
            >
                {{ 'event.contact.current_account.button'|trans }}
            </button>
        </p>
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phoneNumber) }}
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}

    <div class="pt-4 text-right">
        <button type="submit" class="btn btn-primary btn--shadow">{{ 'actions.submit'|trans }}</button>
    </div>

    {{ form_end(form) }}
</div>
