{% extends 'account/_panels.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('events_list') }}
{% endblock %}

{% block title %}| {{ 'event.meta.title'|trans }}{% endblock %}

{% block dashboardContent %}
    <div class="panel">
        <div class="content">
            <div class="row px-3 pb-3">
                {% if is_granted(constant('App\\Enum\\UserVoterEnum::CREATE_EVENT'), app.user) %}
                    <a href="{{ path('event_new') }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> {{ 'event.new.title'|trans }}</a>
                {% endif %}
            </div>
            <div id="tabulator" data-status="{{ status|json_encode }}" data-associations="{{ associations|json_encode }}"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('events_list') }}
{% endblock javascripts %}
