{% if events|length > 0 %}
    <div class="panel">
        <div class="header">
            <h1 class="title">{{ 'dashboard.events.title'|trans }}</h1>
            {% if showSubtitle is defined and showSubtitle %}
                <span class="sub">{{ 'dashboard.events.subtitle'|trans }}</span>
            {% endif %}
        </div>
        <div class="content">
            {% include 'event/_sub_list.html.twig' with {
                events: events | filter(e => e.status == constant('App\\Enum\\EventStatusEnum::STATUS_OPEN')),
                title: 'dashboard.event.next'|trans
            } %}

            {% include 'event/_sub_list.html.twig' with {
                events: events | filter(e => e.status == constant('App\\Enum\\EventStatusEnum::STATUS_CANCELED')),
                title: 'dashboard.event.canceled'|trans
            } %}

            {% include 'event/_sub_list.html.twig' with {
                events: events | filter(e => e.status == constant('App\\Enum\\EventStatusEnum::STATUS_CLOSED')),
                title: 'dashboard.event.past'|trans
            } %}

            {% if showDraft is defined and showDraft %}
                {% include 'event/_sub_list.html.twig' with {
                    events: events | filter(e => e.status == constant('App\\Enum\\EventStatusEnum::STATUS_DRAFT')),
                    title: 'dashboard.event.draft'|trans
                } %}
            {% endif %}
        </div>
    </div>
{% endif %}
