<div class="mt-4" data-controller="popup-on-click" data-popup-on-click-id-value="{{ event.id }}">
    <div class="row align-items-center mb-4">
        <div class="col-4 col-md-2">
            {% include "event/_image_event.html.twig" %}
        </div>
        <div class="col-8">
            <div class="name">
                {{ event.name }}
            </div>

            {% if app.user %}
                <div class="tags">
                    <div class="tag {{ event.status == constant('App\\Enum\\EventStatusEnum::STATUS_OPEN') ? 'green' : event.status == constant('App\\Enum\\EventStatusEnum::STATUS_DRAFT') ? 'yellow' : 'red' }}">
                        {% if not is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ASSOCIATION')) and
                            event.status == constant('App\\Enum\\EventStatusEnum::STATUS_OPEN')
                        %}
                            {{ 'event.status.active'|trans }}
                        {% else %}
                            {{ event.status|readable_enum('EventStatusType')|trans }}
                        {% endif %}
                    </div>

                    {% if app.user in event.users %}
                        <div class="tag green">
                            {{ 'event.participation.tag'|trans }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="ml-auto row align-items-center mt-4 mt-sm-0">
            <div class="col-12 col-md">
                {{ 'event.association.by'|trans }}
            </div>
            <a href="{{ path('association_show', {'id': event.association.id}) }}" class="row align-items-center col-12 col-md-auto">
                <div class="col-2">
                    {% include 'association/_logo_association.html.twig' with {'association': event.association, 'class': 'small'} %}
                </div>
                <div class="col">
                    {{ event.association.name }}
                </div>
            </a>
        </div>
    </div>
    <div class="image-card vertical">
        <div class="content">
            <div class="text">
                <div class="py-4">
                    <div class="titled-p">
                        <div class="title">{{ 'event.description'|trans }}</div>
                        <div class="text">{{ event.description }}</div>
                    </div>
                    <div class="titled-p">
                        <div class="title">{{ 'event.date'|trans }}</div>
                        {% if app.user %}
                            <div class="text">{{ event.date|format_datetime('long', 'short') }}</div>
                        {% else %}
                            <div class="text">{{ event.date|format_date('long') }}</div>
                        {% endif %}
                    </div>
                    {% if app.user %}
                        <div class="titled-p">
                            <div class="title">{{ 'event.location'|trans }}</div>
                            <div class="text">{{ event.location.readableAddress }}</div>
                            <div class="map mt-4">
                                <div id="map-preview" class="interactive interactive-small"
                                     data-controller="show-location"
                                     data-location="{{ {'latitude': event.location.latitude, 'longitude': event.location.longitude}|json_encode }}"
                                >
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if event.languages|length > 0 %}
                        <div class="py-4 titled-p">
                            <div class="title">{{ 'event.languages'|trans }}</div>
                            <div class="tags">
                                {% for language in event.languages %}
                                    <div class="tag">
                                        {{ language|language_name|capitalize }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="bubble-icons py-4">
                        <div class="titled-p">
                            <div class="title">{{ 'event.details'|trans }}</div>
                            <div class="text">
                                • {{ event.isOpenAir ? 'event.type_of_place.outdoor'|trans : 'event.type_of_place.indoor'|trans }}
                            </div>
                            <div class="text">
                                • {{ event.isFree ? 'event.price.free'|trans : 'event.price.paid'|trans }}
                            </div>
                            {% if event.isHandicapAccessible %}
                                <div class="text">
                                    • {{ 'event.handicap_accessible'|trans }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="bubble-icons py-4">
                        <div class="titled-p">
                            <div class="title">{{ 'event.contact'|trans }}</div>
                            <div class="text">{{ 'user.firstname'|trans ~ ': '~ event.firstname}}</div>
                            <div class="text">{{ 'user.lastname'|trans ~ ': '~ event.lastname}}</div>
                            <div class="text">{{ ('user.email'|trans ~ ': <a href="mailto:'~event.email~'">'~event.email~'</a>')|raw}}</div>

                            {% if event.phoneNumber %}
                                <div class="text">{{ ('user.phone_number'|trans ~ ': <a href="tel:'~event.phoneNumber|phone_number_format('INTERNATIONAL')~'">'~event.phoneNumber|phone_number_format('INTERNATIONAL')~'</a>')|raw}}</div>
                            {% endif %}

                        </div>
                    </div>

                    {% if app.user %}
                        <div class="titled-p">
                            <div class="title">{{ 'event.participants'|trans }}</div>

                            {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ASSOCIATION')) %}
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab"
                                           href="#participants_info" role="tab" aria-controls="participants_info"
                                           aria-selected="true">
                                            <i class="fas fa-info"></i>
                                        </a>
                                        <a class="nav-link" id="nav-list-tab" data-toggle="tab"
                                           href="#participants_list" role="tab" aria-controls="participants_list"
                                           aria-selected="false">
                                            <i class="fas fa-list"></i>
                                        </a>
                                    </div>
                                </nav>
                            {% endif %}

                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="participants_info" role="tabpanel"
                                     aria-labelledby="nav-info-tab">
                                    <div class="text mt-3">{{ 'event.participants.all'|trans({'%nb%': event.users|length}) }}</div>
                                    <div class="text">{{ 'event.participants.senior'|trans({'%nb%': nbParticipantsSenior}) }}</div>
                                    <div class="text">{{ 'event.participants.young'|trans({'%nb%': nbParticipantsYoung}) }}</div>
                                </div>

                                {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ASSOCIATION')) %}
                                    <div class="tab-pane fade" id="participants_list" role="tabpanel"
                                         aria-labelledby="nav-list-tab">
                                        <div class="ml-auto mt-3 mt-sm-0">
                                            <button id="download-csv" type="button" class="btn"><i
                                                        class="fas fa-download"></i> Export as CSV
                                            </button>
                                        </div>
                                        <div id="tabulator" data-roles="{{ roles|json_encode }}"
                                             data-genders="{{ genders|json_encode }}"
                                             data-boolean="{{ booleanFilter|json_encode }}"
                                             data-event-id="{{ event.id }}"></div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% set showButtons = [] %}
            {% set approvalButtons = [] %}

            {% if not(app.user) %}
                {% set approvalButtons = approvalButtons|merge([
                    {
                        'route': 'login_modal',
                        'text': 'event.add_participation.button'|trans,
                        'class': 'btn-success mb-2',
                        'icon': 'fa-check-circle',
                        'referer': path('event_show', {'id': event.id}),
                        'title': 'map.login.title'
                    }
                ]) %}
            {% elseif is_granted(constant('App\\Enum\\EventVoterEnum::PARTICIPATE'), event) %}
                {% set approvalButtons = approvalButtons|merge([
                    {
                        'route': 'event_toggle_participation',
                        'text': isParticipating
                        ? 'event.remove_participation.button'|trans
                        : 'event.add_participation.button'|trans,
                        'class': isParticipating ? 'btn-danger mb-2' : 'btn-success mb-2',
                        'icon': isParticipating ? 'fa-times-circle' : 'fa-check-circle'
                    }
                ]) %}
            {% endif %}

            {% if is_granted(constant('App\\Enum\\EventVoterEnum::EDIT'), event) %}
                {% if event.status != constant('App\\Enum\\EventStatusEnum::STATUS_CANCELED') %}
                    {% set showButtons = showButtons|merge([
                        {
                            'path': path('event_edit', {'id': event.id}),
                            'icon': 'fa-pen',
                            'text': 'actions.edit'|trans,
                            'class': 'btn-primary mb-2'
                        }
                    ]) %}

                    {% if event.status == constant('App\\Enum\\EventStatusEnum::STATUS_DRAFT') %}
                        {% set approvalButtons = approvalButtons|merge([
                            {
                                'route': 'event_status_open',
                                'text': 'actions.publish'|trans,
                                'class': 'btn-success mb-2'
                            }
                        ]) %}
                    {% else %}
                        {% set approvalButtons = approvalButtons|merge([
                            {
                                'route': 'event_status_draft',
                                'text': 'actions.draft'|trans,
                                'class': 'btn-warning mb-2',
                                'icon': 'fa-eye-slash'
                            }
                        ]) %}
                    {% endif %}

                    {% set approvalButtons = approvalButtons|merge([
                        {
                            'route': 'event_status_canceled',
                            'text': 'actions.cancel'|trans,
                            'class': 'btn-danger mb-2',
                            'icon': 'fa-ban'
                        }
                    ]) %}
                {% endif %}
            {% endif %}

            {% if is_granted(constant('App\\Enum\\EventVoterEnum::DELETE'), event) %}
                {% set approvalButtons = approvalButtons|merge([
                    {
                        'route': 'event_delete',
                        'icon': 'fa-trash-alt',
                        'class': 'btn-danger mb-2',
                        'text': 'actions.delete'|trans
                    }
                ]) %}
            {% endif %}

            {% if showButtons|length > 0 or approvalButtons|length > 0 %}
                <div class="titled-p">
                    <div class="title">{{ 'actions'|trans }}</div>
                    <div class="text">
                        {% include 'default/_list_actions.html.twig' with {
                            'showButtons': showButtons,
                            'approvalButtons': approvalButtons
                        } %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
