<div class="container-fluid text-center">
    <p>{{ 'popup.login_required.description'|trans }}</p>

    <div class="buttons">
        <a href="{{ path('login') }}" type="button" class="btn btn-link">
            {{ 'login.button'|trans }}
        </a>
        <a href="{{ path('register') }}" type="button" class="btn btn-primary">
            {{ 'signup.button'|trans }}
        </a>
    </div>
</div>
