{% extends 'base.html.twig' %}

{% block title %}| {{ 'login_link.meta.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block absolute %}
    {% include 'default/bubbles.template5.html.twig' %}
{% endblock %}

{% block body %}
    <div class="logo">
        <div class="images">
            <a href="{{ path('homepage') }}">
                <div class="block mb-4">
                    <img src="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" width="300" alt="logo">
                </div>
                <div class="block">
                    <img src="{{ asset('build/images/logos/WSWC.png') }}" width="250" alt="logo">
                </div>
            </a>
        </div>
    </div>
    <div class="login-container">
        <div class="head">
            <div class="logo">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" width="210" alt="logo">
                </a>
            </div>

            <div class="title-sub">
                <div class="title">
                    {{ 'login_link.title'|trans }}
                </div>
            </div>
        </div>

        <p>{{ 'login_link.check_email'|trans }}</p>
        <p>{{ 'login_link.check_email.error'|trans({'%retry_url%': '<a href="'~path('login_link_request') ~ '">'~'login_link.check_email.try_again'|trans~'</a>'})|raw }}</p>

        <div class="text-right mt-5">
            <a href="{{ path('homepage') }}" class="btn btn-primary">
                {{ 'login_link.check_email.button'|trans }}
            </a>
        </div>
    </div>
{% endblock %}