{% extends 'base.html.twig' %}

{% block title %}| {{ 'login.meta.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block absolute %}
    {% include 'default/bubbles.template5.html.twig' %}
{% endblock %}

{% block body %}
    <div class="logo">
        <div class="images">
            <a href="{{ path('homepage') }}">
                <div class="block mb-4">
                        <img src="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" width="300" alt="logo">
                </div>
                <div class="block">
                        <img src="{{ asset('build/images/logos/WSWC.png') }}" width="250" alt="logo">
                </div>
            </a>
        </div>
    </div>

    <div class="login-container">
        <div class="head">
            <div class="logo">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" width="210" alt="logo">
                </a>
            </div>

            <div class="title-sub">
                <div class="title">
                    {{ 'login.title'|trans }}
                    <div class="sub font-weight-bold">
                        {{ 'login.redirect_to_register'|trans({'%register_url%': '<a href="'~path('register')~'">'~'signup.button'|trans~'</a>'})|raw }}
                    </div>
                </div>
            </div>
        </div>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <label for="inputEmail" class="required">{{ 'user.email'|trans }}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-4"
                   required
                   autofocus>
            <label for="inputPassword" class="required">{{ 'user.password'|trans }}</label>
            <input type="password" name="password" id="inputPassword" class="form-control mb-4" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="row ml-2">
                <div class="col-auto custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="remember-me" name="_remember_me">
                    <label class="custom-control-label" for="remember-me">{{ 'login.remember_me'|trans }}</label>
                </div>

                <div class="col-auto ml-auto mt-4">
                    <p>
                        <a href="{{ path('forgot_password_request') }}">{{ 'login.password.forgot'|trans }}</a>
                    </p>
                    <p>
                        <a href="{{ path('login_link_request') }}">{{ 'login.not_working'|trans }}</a>
                    </p>
                </div>
            </div>

            <div class="text-right mt-5">
                <button class="btn btn-lg btn-primary" type="submit">
                    {{ 'login.button'|trans }}
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
