{% set landingPage = true %}
{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="{{ 'seo.project.description'|trans }}">
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('context') }}
{% endblock %}

{% block title %}| {{ 'navbar.vision'|trans }}{% endblock %}

{% block absolute %}
    {% include 'default/bubbles.template3.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container mt-4 mt-md-6 px-4 px-md-6">
        <div class="image-card py-2 py-md-6 oe">
            <div class="image mr-lg-5 pt-lg-5 oe-fx">
                <img src="{{ asset('build/images/visuals/solidarios-es_isabel_alison.jpg') }}" alt="illustration"/>
                <small class="grey"><i>© Solidarios Convive</i></small>
            </div>
            <div class="content oe-fx separate">
                <div class="title">{{ 'context.report.title'|trans }}</div>
                <div class="text">
                    {{ 'context.report.content'|trans }}
                </div>
                <a href="{{ path('download_file', {'filename': 'Report_study_WSWC_IO1.pdf'}) }}">
                    <div class="details-buttons mt-4">
                        <div class="button button-attachment">
                            {{ 'context.report.document1.button'|trans }}
                        </div>
                    </div>
                </a>
                {% if ('fr' == app.request.locale) %}
                    {% set docIO2Name = 'Report_study_WSWC_IO2_fr.pdf' %}
                {% else %}
                    {% set docIO2Name = 'Report_study_WSWC_IO2.pdf' %}
                {% endif %}
                <a href="{{ path('download_file', {'filename': docIO2Name}) }}">
                    <div class="details-buttons mt-4">
                        <div class="button button-attachment">
                            {{ 'context.report.document2.button'|trans }}
                        </div>
                    </div>
                </a>

                {% if 'es' == app.request.locale %}
                    {% set docIO3Name = 'Memento_WSWC_IO3_es.pdf' %}
                {% elseif 'fr' == app.request.locale %}
                    {% set docIO3Name = 'Memento_WSWC_IO3_fr.pdf' %}
                {% else %}
                    {% set docIO3Name = 'Memento_WSWC_IO3.pdf' %}
                {% endif %}
                <a href="{{ path('download_file', {'filename': docIO3Name}) }}">
                    <div class="details-buttons mt-4">
                        <div class="button button-attachment">
                            {{ 'context.report.document3.button'|trans }}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('context') }}
{% endblock %}
