{% set landingPage = true %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block title %}| {{ 'contact_us.meta.title'|trans }}{% endblock %}

{% block absolute %}
    {% include 'default/bubbles.template4.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="contact">
            <div class="image-card inverse">
                <div class="image d-none d-lg-block">
                    <img src="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" alt="logo">
                </div>
                <div class="content mr-md-4 mt-md-5">
                    <div class="title">{{ 'contact_us.title'| trans }}</div>
                    <div class="pre">{{ 'contact_us.faq_link'|trans({'%link%': '<a href="'~path('faq')~'">FAQ</a>'})|raw }}</div>

                    {{ form_start(form) }}
                    <div class="text">
                        <div class="input">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="input">
                            {{ form_row(form.body) }}
                        </div>
                    </div>
                    <div class="pt-4 text-right">
                        <button type="submit" class="btn btn-primary btn--shadow">{{ 'contact_us.button.send'|trans }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}
