{% set landingPage = true %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('information') }}
{% endblock %}

{% block title %}| {{ 'cookie_policy.meta.title'|trans }}{% endblock %}

{% block absolute %}
    {% include 'default/bubbles.template4.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="information markdown-text">
            <div class="title">{{ 'cookie_policy.title'|trans }}</div>
            <section>
                <div class="content">{{ 'cookie_policy.content'|trans|raw|markdown_to_html }}</div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('information') }}
{% endblock %}
