{% set landingPage = true %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('event') }}
{% endblock %}

{% block title %}| {{ 'events.meta.title'|trans }}{% endblock %}

{% block absolute %}
    {% include 'default/bubbles.template4.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        {% include 'event/show.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('event') }}
{% endblock %}
