{% set landingPage = true %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('events') }}
{% endblock %}

{% block title %}| {{ 'events.meta.title'|trans }}{% endblock %}

{% block absolute %}
    {% include 'default/bubbles.template4.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="header">
            <div class="image-card inverse">
                <div class="image">
                    <img src="{{ asset('build/images/visuals/index1.png') }}"/>
                </div>
                <div class="content mr-md-5 mt-sm-5">
                    <div class="title">{{ 'events.title'|trans }}</div>
                    <div class="pre">{{ 'events.description.title'|trans }}</div>
                    <div class="text">{{ 'events.description.content'|trans|raw|nl2br }}</div>
                </div>
            </div>
        </div>


        <div class="events">
            {% for event in events %}
                {% if loop.index0 is even %}
                    <div class="row">
                {% endif %}

                    <div class="event-card col-md-6 pr-md-5">
                        <a href="{{ path('event_show', {'id': event.id}) }}">
                            {% include 'event/_image_event.html.twig' %}
                            <div class="description">
                                <div class="icon">
                                    {% include 'association/_logo_association.html.twig' with {'association': event.association} %}
                                </div>
                                <div class="title" data-toggle="tooltip" data-placement="bottom" title="{{ event.name }}" data-controller="tooltip">
                                    {{ event.name }}
                                    <div class="sub row">
                                        <div class="col">
                                            {{ event.date|format_date }}
                                        </div>

                                        <div class="col-auto">
                                            <i class="fa fa-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                {% if loop.index0 is odd or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('events') }}
{% endblock %}
