{% set landingPage = true %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block absolute %}
    {% include 'default/bubbles.template1.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container welcome-container">
        <div class="landing">
            <div class="logo">
                <img class="img-fluid" src="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" width="300" alt="logo">
            </div>
            <div class="title">
                <img class="img-fluid" src="{{ asset('build/images/logos/WSWC.png') }}" width="300" alt="logo">
            </div>
            <div class="subtitle">{{ 'homepage.subtitle'|trans|raw|nl2br }}</div>
        </div>
    </div>
    <div class="container px-4 px-md-6">
        <div class="image-card">
            <div class="content px-lg-6 markdown-text">
                <div class="pre">{{ 'homepage.presentation.sub_title'|trans }}</div>
                <div class="text">{{ 'homepage.presentation.content'|trans|raw|markdown_to_html }}</div>
            </div>
        </div>
    </div>

    <div class="container mt-4 mt-md-6 px-4 px-md-6">
        <div class="text-center">
            <img src="{{ asset('build/images/visuals/solidarios-es_edelvina_paola_pilar_jaqueline.jpg') }}"
                 alt="illustration" style="width: 100%; max-width: 500px"/><br>
            <small class="grey"><i>© Solidarios España - Convive</i></small>
        </div>
    </div>
{% endblock body %}
