{% set landingPage = true %}
{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="{{ 'seo.map.description'|trans }}">
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block title %}| {{ 'navbar.local_actors'|trans }}{% endblock %}

{% block absolute %}
    {% include 'default/bubbles.template2.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container mt-4 mt-md-6 px-4 px-md-6">

        <div id="accordion" class="partners">
            <div class="image-card py-2 py-md-4 oe">
                <div class="content">
                    <div class="title">{{ 'project.partners.title'|trans }}</div>
                    <div class="pre">{{ 'project.partners.description.title'|trans|raw|nl2br }}</div>
                    <div class="text">{{ 'project.partners.click_more'|trans|raw|nl2br }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-lg-2 my-auto logo h-100">
                    <img src="{{ asset('build/images/logos/ESN.svg') }}" class="collapsed" alt="logo esn"
                         data-toggle="collapse" data-target="#collapseESN" aria-expanded="true" aria-controls="collapseESN">
                </div>
                <div class="col-4 col-lg-2 my-auto logo h-100">
                    <img src="{{ asset('build/images/logos/EUF.png') }}" class="collapsed" alt="logo euf"
                         data-toggle="collapse" data-target="#collapseEUF" aria-expanded="false"
                         aria-controls="collapseEUF">
                </div>
                <div class="col-4 col-lg-2 my-auto logo h-100">
                    <img src="{{ asset('build/images/logos/cnav.png') }}" class="collapsed" alt="logo cnav"
                         data-toggle="collapse" data-target="#collapseCnav" aria-expanded="false"
                         aria-controls="collapseCnav">
                </div>
                <div class="col-4 col-lg-2 my-auto logo h-100">
                    <img src="{{ asset('build/images/logos/cohabilis.svg') }}" class="collapsed" alt="logo cohabilis"
                         data-toggle="collapse" data-target="#collapseCoh" aria-expanded="false"
                         aria-controls="collapseCoh">
                </div>
                <div class="col-4 col-lg-2 my-auto logo h-100">
                    <img src="{{ asset('build/images/logos/solidarios.png') }}" class="collapsed" alt="logo solidarios"
                         data-toggle="collapse" data-target="#collapseSol" aria-expanded="false"
                         aria-controls="collapseSol">
                </div>
                <div class="col-4 col-lg-2 my-auto logo h-100">
                    <img src="{{ asset('build/images/logos/1toit2ages.png') }}" class="collapsed" alt="logo 1toit2ages"
                         data-toggle="collapse" data-target="#collapse1t2a" aria-expanded="false"
                         aria-controls="collapse1t2a">
                </div>
            </div>
            <div id="partners-desc">
                <div id="collapseESN" class="content collapse collapse" aria-labelledby="headingESN"
                     data-parent="#accordion">
                    <h3>{{ 'project.partners.esn.name'|trans }}</h3>
                    <div class="text">{{ 'project.partners.esn.description.content'|trans|raw|markdown_to_html }}</div>
                    <div class="mt-2"><a href="https://esnfrance.org" target="_blank">https://esnfrance.org</a></div>
                </div>
                <div id="collapseEUF" class="content collapse" aria-labelledby="headingESN" data-parent="#accordion">
                    <h3>{{ 'project.partners.euf.name'|trans }}</h3>
                    <div class="text">{{ 'project.partners.euf.description.content'|trans|raw|markdown_to_html }}</div>
                    <div class="mt-2">
                        <a href="https://uni-foundation.eu" target="_blank">https://uni-foundation.eu</a>
                    </div>
                </div>
                <div id="collapseCnav" class="content collapse" aria-labelledby="headingESN" data-parent="#accordion">
                    <h3>{{ 'project.partners.cnav.name'|trans }}</h3>
                    <div class="text">{{ 'project.partners.cnav.description.content'|trans|raw|markdown_to_html }}</div>
                    <div class="mt-2">
                        <a href="https://www.lassuranceretraite.fr/portail-info/home.html" target="_blank">
                            https://www.lassuranceretraite.fr/portail-info/home.html
                        </a>
                    </div>
                </div>
                <div id="collapseCoh" class="content collapse" aria-labelledby="headingESN" data-parent="#accordion">
                    <h3>{{ 'project.partners.cohabilis.name'|trans }}</h3>
                    <div class="text">
                        {{ 'project.partners.cohabilis.description.content'|trans|raw|markdown_to_html }}
                    </div>
                    <div class="mt-2">
                        <a href="https://www.cohabilis.org" target="_blank">https://www.cohabilis.org</a>
                    </div>
                </div>
                <div id="collapseSol" class="content collapse" aria-labelledby="headingESN" data-parent="#accordion">
                    <h3>{{ 'project.partners.solidarios.name'|trans }}</h3>
                    <div class="text">
                        {{ 'project.partners.solidarios.description.content'|trans|raw|markdown_to_html }}
                    </div>
                    <div class="mt-2">
                        <a href="https://www.solidarios.org.es" target="_blank">https://www.solidarios.org.es</a>
                    </div>
                </div>
                <div id="collapse1t2a" class="content collapse" aria-labelledby="headingESN" data-parent="#accordion">
                    <h3>{{ 'project.partners.1toit2ages.name'|trans }}</h3>
                    <div class="text">
                        {{ 'project.partners.1toit2ages.description.content'|trans|raw|markdown_to_html }}
                    </div>
                    <div class="mt-2">
                        <a href="https://www.1toit2ages.be" target="_blank">https://www.1toit2ages.be</a>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="mt-5 mb-4">
            {{ 'map.title'|trans }}
        </h1>

        {% include "map/map_content.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('map') }}
{% endblock %}
