{% set landingPage = true %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('participate') }}
{% endblock %}

{% block title %}| {{ 'participate.meta.title'|trans }}{% endblock %}

{% block absolute %}
    {% include 'default/bubbles.template4.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="participate">
            <div class="image-card inverse">
                <div class="image col-4 d-none d-lg-block">
                    <img src="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" alt="logo">
                </div>
                <div class="content col-8 mr-md-4 mt-md-5">
                    <div class="title">{{ 'participate.title'| trans }}</div>
                    <p class="pre">{{ 'participate.subtitle'|trans }}</p>

                    {{ form_start(form, {
                        'action': path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')),
                        'attr': {'data-controller': 'homesharing-dynamic-form'}})
                    }}

                    {{ form_row(form.address, {'label': 'participate.your_city'}) }}

                    {{ form_end(form) }}

                    <p id="non-using-results-only" style="display: none">
                        {{ 'participate.result.non_using_assos'|trans|raw }}
                    </p>

                    <div id="using-results" style="display: none;">
                        <p>{{ 'participate.result.using_assos'|trans|raw }}</p>
                        <p>
                            <a href="{{ path('register') }}" class="btn btn-primary text-white">
                                {{ 'signup.button'|trans}}
                            </a>
                        </p>
                    </div>

                    <p id="no-results" style="display: none">
                        {% set linkName = 'navbar.about_us'|trans %}
                        {{ 'participate.result.assos_not_found'|trans(
                            { '%map_page_link%': '<a href="'~path('map')~'">'~linkName~'</a>' }
                        )|raw }}
                    </p>

                    <ul id="association-list"></ul>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('participate') }}
{% endblock %}
