{% set landingPage = true %}
{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="{{ 'seo.initiative.description'|trans }}">
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('solutions') }}
{% endblock %}

{% block title %}| {{ 'navbar.solutions'|trans }}{% endblock %}

{% block absolute %}
    {% include 'default/bubbles.template3.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container mt-4 mt-md-6 px-4 px-md-6">
        <div class="image-card py-2 py-md-4 markdown-text">
            <div class="content">
                <div class="title">{{ 'solutions.homesharing.title'|trans }}</div>
                <div class="mt-4 text-center">
                    {% if 'es' == app.request.locale %}
                        <iframe width="500" height="280" style="max-width: 100%"
                                src="https://drive.google.com/file/d/12rUbCIODOymAMEHeGdrYw_EolimOcqQ7/preview"></iframe>
                    {% elseif 'fr' == app.request.locale %}
                        <iframe width="500" height="280" style="max-width: 100%"
                                src="https://drive.google.com/file/d/1qlylJ7hKH2eKRsnsk4EuNcZnrWi7JTrX/preview"></iframe>
                    {% else %}
                        <iframe width="500" height="280" style="max-width: 100%"
                                src="https://drive.google.com/file/d/1LHJq002D5JAKbbZBDXf71mfqZDwy9AwV/preview"></iframe>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="image-card py-5 py-md-6 oe">
            <div class="image mr-lg-5 oe-fx">
                <img src="{{ asset('build/images/visuals/cohabilis_yvette_emilie.jpg') }}" alt="illustration"/>
                <small class="grey"><i>© Cohabilis</i></small>
            </div>
            <div class="content oe-fx separate">
                <div class="title">{{ 'solutions.vision.title'|trans }}</div>
                <div class="text">{{ 'solutions.vision.content'|trans }}</div>
                {% if 'es' == app.request.locale %}
                    {% set docIO6Name = 'Advocacy_WSWC_IO6_es.pdf' %}
                {% elseif 'fr' == app.request.locale %}
                    {% set docIO6Name = 'Advocacy_WSWC_IO6_fr.pdf' %}
                {% else %}
                    {% set docIO6Name = 'Advocacy_WSWC_IO6.pdf' %}
                {% endif %}
                <a href="{{ path('download_file', {'filename': docIO6Name}) }}">
                    <div class="details-buttons mt-4">
                        <div class="button button-attachment">{{ 'solutions.vision.button'|trans }}</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="image-card pb-2 pb-md-6 oe">
            <div class="content oe-fx separate">
                <div class="title">{{ 'solutions.tools.title'|trans }}</div>
                <div class="text">{{ 'solutions.tools.content'|trans }}</div>
                {% if 'es' == app.request.locale %}
                    {% set docIO5Name = 'Guide_WSWC_IO5_es.pdf' %}
                {% elseif 'fr' == app.request.locale %}
                    {% set docIO5Name = 'Guide_WSWC_IO5_fr.pdf' %}
                {% else %}
                    {% set docIO5Name = 'Guide_WSWC_IO5.pdf' %}
                {% endif %}
                <a href="{{ path('download_file', {'filename': docIO5Name}) }}">
                    <div class="details-buttons mt-4">
                        <div class="button button-attachment">{{ 'solutions.tools.button'|trans }}</div>
                    </div>
                </a>
            </div>
            <div class="image pt-4 pt-lg-0 ml-lg-5 oe-fx">
                {% if 'es' == app.request.locale %}
                    <iframe width="500" height="280" style="max-width: 100%"
                            src="https://drive.google.com/file/d/1yYwB_UJYwUTh3oj43zcPBJTPJrf3PfLs/preview"></iframe>
                {% elseif 'fr' == app.request.locale %}
                    <iframe width="500" height="280" style="max-width: 100%"
                            src="https://drive.google.com/file/d/1U22AfozVyxahl4ys5kXxAQq4woI1rI2X/preview"></iframe>
                {% else %}
                    <iframe width="500" height="280" style="max-width: 100%"
                            src="https://drive.google.com/file/d/1PPqDdlS6Wfobsau45L4Kb65mnI36Ox8j/preview"></iframe>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
