{% extends 'base.html.twig' %}

{% block title %}| {{ 'register.meta.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block absolute %}
    {% include 'default/bubbles.template5.html.twig' %}
{% endblock %}

{% block body %}
    <div class="logo">
        <div class="images">
            <a href="{{ path('homepage') }}">
                <div class="block mb-4">
                    <img src="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" width="300" alt="logo">
                </div>
                <div class="block">
                    <img src="{{ asset('build/images/logos/WSWC.png') }}" width="250" alt="logo">
                </div>
            </a>
        </div>
    </div>
    <div class="register-container" id="register-container" data-controller="form-submission popup-on-click">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        {{ form_start(registrationForm, {
            'action': path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')),
            'attr': {'data-controller': 'homesharing-dynamic-form'}})
        }}

        {% if flow.currentStepNumber != flow.firstStep %}
            <div class="step-head">
                <div class="back-btn-container">
                    {% include 'form/craue_form_flow_button.html.twig' with {
                        craue_formflow_button_class_back: 'btn back-btn',
                        craue_formflow_button_render_reset: false,
                        craue_formflow_button_render_last: false
                    } %}
                </div>
                <div class="title">
                    <h2>{{ ('register.step_'~flow.getCurrentStepNumber()~'.title')|trans }}</h2>
                </div>
            </div>
        {% endif %}

        {% if flow.getCurrentStepNumber() == 1 %}
            <div class="head">
                <div class="logo">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" width="210" alt="logo">
                    </a>
                </div>

                <div class="title-sub">
                    <div class="title">
                        {{ 'register.title'|trans }}
                        <div class="sub font-weight-bold">
                            <p>{{ 'register.redirect_to_login'|trans({'%login_url%': '<a href="'~path('login')~'">'~'login.button'|trans~'</a>'})|raw }}</p>
                            {% if mode != 'association' %}
                                <p>{{ 'register.is_association'|trans({'%contact_url%': '<a href="'~path('contact')~'">'~'contact_us.title'|trans~'</a>'})|raw }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {{ form_row(registrationForm.user.email) }}
            {{ form_row(registrationForm.user.plainPassword.first) }}
            {{ form_row(registrationForm.user.plainPassword.second) }}

        {% elseif flow.getCurrentStepNumber() == 2 %}
            {{ form_row(registrationForm.user.firstname) }}
            {{ form_row(registrationForm.user.lastname) }}

            {% if registrationForm.user.birthday is defined %}
                {{ form_row(registrationForm.user.birthday) }}
            {% endif %}

            {% if registrationForm.user.location is defined %}
                <div class="position-relative">
                    {{ form_row(registrationForm.user.location) }}
                </div>
            {% endif %}

            {% if registrationForm.user.association is defined %}
                {{ form_row(registrationForm.user.association) }}

                <a href="#" data-title="popup.suggest_association.title" data-route="association_suggestion" data-action="popup-on-click#click">{{ 'register.missing_association'|trans }}</a>
            {% endif %}

            <div class="radio-group">
                {{ form_row(registrationForm.user.roles) }}
            </div>

        {% elseif flow.getCurrentStepNumber() == 3 %}
            {% if registrationForm.profile.gender is defined %}
                {{ form_row(registrationForm.profile.gender) }}
            {% endif %}

            {% if registrationForm.profile.languages is defined %}
                {{ form_row(registrationForm.profile.languages) }}
            {% endif %}

            {% if registrationForm.profile.hobbies is defined %}
                {{ form_row(registrationForm.profile.hobbies) }}
            {% endif %}

            {% if registrationForm.profile.university is defined %}
                {{ form_row(registrationForm.profile.university) }}
            {% endif %}

            {% if registrationForm.profile.studies is defined %}
                {{ form_row(registrationForm.profile.studies) }}
            {% endif %}

            {% if registrationForm.profile.phoneNumber is defined %}
                {{ form_row(registrationForm.profile.phoneNumber) }}
            {% endif %}

            {% if registrationForm.profile.international is defined %}
                <div class="pt-3">
                        {{ form_row(registrationForm.profile.international) }}
                </div>
            {% endif %}

            {% if registrationForm.profile.showHomesharing is defined %}
                <div class="py-3">
                    <legend class="col-form-label">{{ 'user.homesharing'|trans }}</legend>
                    {{ form_row(registrationForm.profile.showHomesharing) }}
                </div>
            {% endif %}

            {% if registrationForm.profile.currency is defined %}
                <div data-homesharing-dynamic-form-target="currency">
                    {{ form_row(registrationForm.profile.currency) }}
                </div>
            {% endif %}
        {% endif %}

        {{ form_errors(registrationForm) }}
        {{ form_rest(registrationForm) }}

        {% include 'form/craue_form_flow_button.html.twig' with {
            craue_formflow_button_class_last: 'btn btn-primary',
            craue_formflow_button_render_reset: false,
            craue_formflow_button_render_back: false
        } %}
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('register') }}
{% endblock %}
