<div id="map-container" class="map" data-is-connected="{{ is_granted('IS_AUTHENTICATED_FULLY') }}">
    <div class="interactive" id="map" data-location="{{ location|json_encode }}" data-zoom="{{ zoom }}" data-maxzoom="{{ maxZoom }}"></div>
    <div class="list mt-5">
        <div class="text-left" style="display: none">
            <label for="card-type">{{ 'map.filter.type.label'|trans }}</label>
            <select name="card-type" id="card-type">
                <option value="all" selected>{{ 'map.filter.type.all'|trans }}</option>
                {% if not(app.user) or (not(is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_SENIOR'))) and app.user.profile.showHomesharing) %}
                    <option value="accommodation">{{ 'map.filter.type.accommodation'|trans }}</option>
                {% endif %}
                <option value="event">{{ 'map.filter.type.event'|trans }}</option>
                <option value="association">{{ 'map.filter.type.association'|trans }}</option>
            </select>
        </div>

        <div id="map-cards"></div>
    </div>
</div>
