@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$svg-names: oval-blue, oval-blue-classic, oval-blue-md, oval-red-bean,
    oval-red-distord, oval-red-md, oval-skin, oval-skin-classic,
    oval-skin-distord, oval-skin-distord2, oval-skin-md, oval-skin-pink-small,
    oval-skin-pink, oval-skin-small;

/* Bubbles container */
.bubbles {
    @include media-breakpoint-down('md'){
        display: none;
    }

    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
    top: 0;
    z-index: -1;

    /* Bubble part */
    .bubble-part {
        height: 100vh;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 0;

        &::-webkit-scrollbar {
            display: none !important;
        }

        @for $i from 0 through 3 {
            &.part-#{$i + 1} {
                top: #{$i * 100}vh;
            }
        }
    }

    /* Bubble group */
    .bubble-group {
        position: absolute;

        /* Bubble */
        .bubble {
            z-index: 0;
            width: 128px;
            height: 128px;
            @each $svg in $svg-names {
                &.#{$svg} {
                    background: url("../../images/bubbles/" + $svg + ".svg")
                        no-repeat
                        center
                        center;
                    background-size: contain;
                }
            }
        }

        * {
            position: relative;
        }
    }
}
