.bubbles {
    &.template-2 {
        .bubble-part {
            /* Part 1 */
            &.part-1 {
                .bubble-group {
                    /* Left */
                    &.left {
                        left: 0;
                        top: 180px;

                        .oval-blue {
                            width: 300px;
                            height: 300px;
                            left: -130px;
                            transform: rotate(-15deg);
                            z-index: 1;
                        }

                        .oval-red-md {
                            width: 500px;
                            height: 500px;
                            left: -170px;
                            top: -50px;
                            opacity: 0.6;
                            transform: rotate(-50deg);
                            z-index: 0;
                        }
                    }

                    /* Right */
                    &.right {
                        right: 0;

                        .oval-red-bean {
                            width: 600px;
                            height: 600px;
                            top: -130px;
                            left: 206px;
                            transform: rotate(54deg);
                            opacity: 0.6;
                        }

                        .oval-skin-small {
                            width: 300px;
                            height: 300px;
                            left: 535px;
                            top: -314px;
                            transform: rotate(90deg);
                        }
                    }

                    /* Bottom */
                    &.bottom {
                        bottom: 0;
                        right: 0;

                        .oval-red-bean {
                            width: 500px;
                            height: 500px;
                            top: 500px;
                            left: 250px;
                            opacity: 0.6;
                            transform: rotate(-50deg);
                            z-index: 0;
                        }

                        .oval-skin-small {
                            width: 500px;
                            height: 500px;
                            top: 500px;
                            left: 250px;
                        }
                    }
                }
            }
        }
    }
}
