.bubbles {
    &.template-5 {
        @include media-breakpoint-down("md") {
            display: none;
        }

        .bubble-part {
            &.part-1 {
                .bubble-group {
                    &.top {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;

                        .oval-blue-md {
                            position: absolute;
                            left: -20%;
                            top: -1500px;
                            width: 100%;
                            height: 1796px;
                            transform: rotate(180deg);
                            z-index: 5;
                        }

                        .oval-skin {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                        }
                    }

                    &.right {
                        position: absolute;
                        right: -15%;
                        top: 10%;
                        width: 100%;

                        .oval-skin-classic {
                            transform: rotate(-136deg);
                            position: absolute;
                            right: 0;
                            width: 100%;
                            height: 700px;
                            z-index: 3;
                        }
                    }

                    &.bottom {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;

                        .oval-skin-md {
                            transform: rotate(43deg);
                            position: absolute;
                            bottom: -100px;
                            right: -100px;
                            width: 100%;
                            height: 1000px;
                            z-index: 2;
                        }

                        .oval-blue-md {
                            transform: rotate(135deg);
                            position: absolute;
                            bottom: -250px;
                            left: -33%;
                            width: 100%;
                            height: 500px;
                            z-index: 2;
                            @include media-breakpoint-down("lg") {
                                display: none;
                            }

                            @media all and (max-height: 720px) {
                                display: none;
                            }
                        }
                    }

                    &.left {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;

                        .oval-red-distord {
                            height: 100%;
                            width: 90%;
                            left: -50%;
                            top: 1%;
                            z-index: 1;
                            transform: rotate(224deg);
                        }
                    }
                }
            }
        }
    }
}
