.bubbles {
    &.template-4 {
        .bubble-part {
            /* Part 1 */
            &.part-1 {
                .bubble-group {
                    /* Left */
                    &.left {
                        left: 0;
                        top: 50px;

                        .oval-blue-md {
                            left: -150px;
                            width: 250px;
                            height: 250px;
                            transform: rotateY(190deg) rotate(50deg);
                            z-index: 1;
                        }

                        .oval-skin-md {
                            width: 420px;
                            height: 420px;
                            top: -90px;
                            left: -130px;
                            z-index: 0;
                            transform: rotate(230deg);
                        }

                        .oval-skin-classic {
                            width: 310px;
                            height: 310px;
                            transform: rotate(-189deg);
                            top: -240px;
                            left: -110px;
                        }
                    }

                    /* Right */
                    &.right {
                        right: 0;

                        .oval-red-bean {
                            transform: rotate(-95deg);
                            width: 700px;
                            height: 700px;
                            left: 250px;
                            top: -50px;

                            @include media-breakpoint-down("md") {
                                left: 400px;
                            }
                        }

                        .oval-blue {
                            position: absolute;
                            right: -190px;
                            width: 450px;
                            height: 450px;
                            transform: rotate(-20deg);
                            margin-top: -300px;
                        }
                    }

                    /* Bottom */
                    &.bottom {
                        bottom: 0;
                        width: 100%;
                        height: 100%;

                        .oval-skin-small {
                            left: 50%;
                            top: 60%;
                            width: 50%;
                            height: 50%;
                            transform: translateY(-30%) translateX(-50%)
                                rotate(-280deg);
                        }
                    }
                }
            }

            /* Part 2 */
            &.part-2 {
                .bubble-group {
                    /* Left */
                    &.left {
                        left: 0;

                        .oval-red-bean {
                            transform: rotate(55deg);
                            width: 500px;
                            height: 500px;
                            left: -145px;
                        }

                        .oval-blue {
                            width: 230px;
                            height: 230px;
                            left: -130px;
                            transform: rotate(-15deg);
                            top: -145px;
                        }
                    }

                    /* Right */
                    &.right {
                        right: 0;

                        .oval-red-bean {
                            transform: rotate(-95deg);
                            width: 700px;
                            height: 700px;
                            left: 250px;
                            top: 350px;
                            opacity: 0.5;
                        }

                        .oval-skin-small {
                            right: -190px;
                            width: 220px;
                            height: 220px;
                            position: absolute;
                            transform: rotate(95deg);
                            margin-top: -450px;
                        }
                    }

                    /* Bottom */
                    &.bottom {
                        bottom: 0;
                        left: 50%;

                        .oval-red-md {
                            transform: translateX(-50%) rotate(180deg);
                            width: 500px;
                            height: 500px;
                            top: 300px;
                            position: relative;
                            opacity: 0.7;
                        }
                    }
                }
            }

            /* Part 3 */
            &.part-3 {
                .bubble-group {
                    /* Left */
                    &.left {
                        left: 0;
                        bottom: 0;

                        .oval-skin-small {
                            transform: rotate(-256deg);
                            width: 500px;
                            left: -170px;
                            height: 500px;
                        }
                    }

                    /* Right */
                    &.right {
                        right: 0;
                        bottom: 0;

                        .oval-blue {
                            transform: rotate(40deg);
                            width: 200px;
                            height: 200px;
                            left: 120px;
                            z-index: 1;
                        }

                        .oval-skin-small {
                            transform: rotate(-20deg);
                            left: 145px;
                            top: -50px;
                            z-index: 0;
                        }
                    }
                }
            }

            /* Part 4 */
            &.part-4 {
                .bubble-group {
                    /* Left */
                    &.left {
                        left: 0;
                        bottom: 32%;

                        .oval-red-bean {
                            transform: rotate(80deg);
                            width: 420px;
                            height: 420px;
                            left: -160px;
                            position: absolute;
                            top: 50px;
                        }

                        .oval-blue {
                            top: 283px;
                            left: 222px;
                            position: absolute;
                            transform: rotate(-74deg);
                        }
                    }
                }
            }

            @include media-breakpoint-down("md") {
                .oval-blue {
                    visibility: hidden;
                }
            }
            @include media-breakpoint-down("sm") {
                & {
                    opacity: 0.7;
                }
            }
        }
    }
}
