@import "./helpers/colors";

$spacer: 1rem;
$spacers: (
    6: (
        $spacer * 4.75,
    ),
);

$font-weight-normal: 400;
$font-weight-bold: 800;

$headings-font-weight: 800;

$font-size-base: 1rem;

$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.5;
$h3-font-size:                $font-size-base * 1.17;
$h4-font-size:                $font-size-base * 1;
$h5-font-size:                $font-size-base * .83;
$h6-font-size:                $font-size-base * .67;

$hr-border-color: #d9eafe;
$hr-border-width: 2px;

$btn-padding-y: 0.8125rem;
$btn-padding-x: 1.25rem;
$btn-border-radius: 0.3125rem;
$btn-font-weight: 800;
$btn-font-size: 0.9375rem;
$btn-line-height: 1rem;

$input-padding-y: 0.5rem;
$input-padding-x: 0.9rem;
$input-border-color: #b8b8b8;
$input-border-radius: 0.6rem;

$card-border-radius: 0.5rem;
$card-spacer-y: 1rem;
$card-spacer-x: 1.5rem;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/utilities";
