@import "vendors";
@import "components/footer";
@import "components/scrollbars";
@import "components/loader";
@import "helpers/fonts";
@import "components/dropdown";
@import "components/flashbags";
@import "components/radio";
@import "components/modal";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    @extend %font-face-latin;
    overflow-x: hidden;
    background-color: $lightcoral;
}

p {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@include media-breakpoint-down('md'){
    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 13px;
    }
}

hr {
    border-top: 2px solid $dark-grey;
    opacity: 0.3;
    margin-left: auto;
    margin-right: auto;
}

.markdown-text {
    p {
        margin-bottom: 0;
    }

    li {
        word-wrap: break-word;
    }
}

.btn {
    text-transform: uppercase;
    white-space: nowrap;

    @include media-breakpoint-down("sm") {
        padding: 0.6rem 0.8rem;
        font-size: 0.85rem;
    }

    &.btn-white {
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);

        &,
        &:focus,
        &:active {
            color: theme-color("primary") !important;
        }
    }
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

.tooltip {
    &-img {
        margin-top: -30px;
    }

    &-inner {
        white-space: pre-wrap;
        max-width: 330px;
    }
}

.text-warning {
    color: orange !important;
}

.text-dark {
    color: black !important;
}

* {
    font-family: "aileron-regular", sans-serif;
    box-sizing: border-box;
}

.nav-link {
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: $bold;
    letter-spacing: -1px;
}
