{% extends 'base.html.twig' %}

{% block title %}| {{ 'reset_password.meta.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block absolute %}
    {% include 'default/bubbles.template5.html.twig' %}
{% endblock %}

{% block body %}
    <div class="logo">
        <div class="images">
            <a href="{{ path('homepage') }}">
                <div class="block mb-4">
                    <img src="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" width="300" alt="logo">
                </div>
                <div class="block">
                    <img src="{{ asset('build/images/logos/WSWC.png') }}" width="250" alt="logo">
                </div>
            </a>
        </div>
    </div>
    <div class="login-container">
        <div class="head">
            <div class="logo">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" width="210" alt="logo">
                </a>
            </div>

            <div class="title-sub">
                <div class="title">
                    {{ 'reset_password.title'|trans }}
                </div>
            </div>
        </div>

        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}

        <div class="text-right mt-5">
            <button class="btn btn-lg btn-primary" type="submit">
                {{ 'reset_password.confirmation.button'|trans }}
            </button>
        </div>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
