<div {% if groupButtons is defined and groupButtons == true %} class="btn-group" role="group" aria-label="Actions" {% endif %}>
    {% if showButtons is defined and showButtons|length > 0 %}
        {% for showButton in showButtons %}
            <a href="{{ showButton.path }}" class="btn {{ showButton.class is defined and showButton.class is not null ? showButton.class : 'btn-sm btn-outline-primary' }}">
                <i class="fas {{ showButton.icon is defined and showButton.icon is not null ? showButton.icon : 'fa-eye' }}"></i>
                {% if showButton.text is defined and showButton.text is not null %}
                    {{ showButton.text }}
                {% else %}
                    {{ 'actions.show'|trans }}
                {% endif %}
            </a>
        {% endfor %}
    {% endif %}

    {% if approvalButtons is defined and approvalButtons|length > 0 %}
        {% for approvalButton in approvalButtons %}
            <a href="#" class="btn {{ approvalButton.class is defined and approvalButton.class is not null ? approvalButton.class : 'btn-sm btn-outline-primary' }}"
               data-action="popup-on-click#click"
               data-route="{{ approvalButton.route }}"
               {% if approvalButton.referer is defined %} data-referer="{{ approvalButton.referer }}" {% endif %}
               {% if approvalButton.title is defined %} data-title="{{ approvalButton.title }}" {% endif %}
            >
                <i class="fas {{ approvalButton.icon is defined and approvalButton.icon is not null ? approvalButton.icon : 'fa-check-circle' }}"></i>

                {% if approvalButton.text is defined and approvalButton.text is not null %}
                    {{ approvalButton.text }}
                {% else %}
                    {{ 'actions.approve'|trans }}
                {% endif %}
            </a>
        {% endfor %}
    {% endif %}
</div>
