<p>{{ approvalText|raw|nl2br }}</p>
{{ form_start(form, {'action': path(path, {'id': id})}) }}
{{ form_rest(form) }}
<div class="text-left">
    <input type="submit" class="btn {{ submitClass is defined and submitClass is not null ? submitClass : 'btn-success' }}" value="{{ submitText is defined and submitText is not null ? submitText : 'actions.approve'|trans }}"/>
    <button type="button" data-dismiss="modal" class="btn modal-close">{{ 'actions.cancel'|trans }}</button>
</div>
{{ form_end(form) }}