<!-- Bubbles -->
<div class="bubbles template-2">
    <!-- Part declaration (page Y offset) -->
    <div class="bubble-part part-1">

        <!-- Group declaration (bubbles) -->
        <div class="bubble-group left">
            <div class="bubble oval-blue"></div>
            <div class="bubble oval-red-md"></div>
        </div>

        <div class="bubble-group right">
            <div class="bubble oval-red-bean"></div>
            <div class="bubble oval-skin-small"></div>
        </div>
    </div>
</div>
