<!-- Bubbles -->
<div class="bubbles template-5">
    <!-- Part declaration (page Y offset) -->
    <div class="bubble-part part-1">

        <!-- Group declaration (bubbles) -->
        <div class="bubble-group top">
            <div class="bubble oval-blue-md"></div>
            <div class="bubble oval-skin"></div>
        </div>

        <div class="bubble-group right">
            <div class="bubble oval-skin-classic"></div>
        </div>

        <div class="bubble-group bottom">
            <div class="bubble oval-skin-md"></div>
            <div class="bubble oval-blue-md"></div>
        </div>

        <div class="bubble-group left">
            <div class="bubble oval-red-distord"></div>
        </div>
    </div>
</div>
