<div class="container footer border-top">
    <div class="row links">
        <div class="col-md-3 mb-md-0 mb-3">
            <h4>{{ 'footer.sitemap.title'|trans }}</h4>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted" href="{{ path('homepage') }}">{{ 'navbar.index'|trans }}</a>
                </li>
                <li>
                    <a class="text-muted" href="{{ path('context') }}">{{ 'navbar.context'|trans }}</a>
                </li>
                <li>
                    <a class="text-muted" href="{{ path('solutions') }}">{{ 'navbar.solutions'|trans }}</a>
                </li>
                <li>
                    <a class="text-muted" href="{{ path('map') }}">{{ 'navbar.about_us'|trans }}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
            <h4>{{ 'footer.legal_information.title'|trans }}</h4>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{{ path('cgu') }}">{{ 'footer.legal_information.cgu'|trans }}</a></li>
                <li><a class="text-muted" href="{{ path('cookie') }}">{{ 'footer.legal_information.cookies'|trans }}</a></li>
            </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
            <h4>{{ 'footer.more_information.title'|trans }}</h4>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{{ path('faq') }}">{{ 'footer.more_information.faq'|trans }}</a></li>
                <li><a class="text-muted" href="{{ path('contact') }}">{{ 'footer.more_information.contact_us'|trans }}</a></li>
            </ul>
        </div>
    </div>

    <div class="logos">
        <div class="logo">
            <img class="img-fluid" src="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" width="100" alt="logo">
            <img class="img-fluid mt-2" src="{{ asset('build/images/logos/WSWC.png') }}" width="100" alt="logo">
        </div>
        <div class="logo">
            <img class="img-fluid" src="{{ asset('build/images/logos/union-europeenne.jpg') }}" width="200" alt="logo">
        </div>
    </div>

    <div class="copyright">
        {{ 'footer.copyright.funding'|trans }}
        <div class="cc">© <span>2021-{{ "now"|date("Y") }}</span> WeShareWeCare</div>
    </div>
</div>
