<a class="text-primary nav-link dropdown-toggle" href="#" role="button" id="dropdown-menu-languages" data-toggle="dropdown"
   aria-haspopup="true"
   aria-expanded="false">
    {% if shortLocale is defined and shortLocale %}
        <i class="fas fa-globe"></i> {{ app.request.locale }}
    {% else %}
        {{ app.request.locale|language_name }}
    {% endif %}
    <i class="fas fa-caret-down"></i>
</a>
<div class="dropdown-menu text-center" role="menu" aria-labelledby="dropdown-menu-languages" id="languageswitcher">
    {% if app.request.get('_route') is empty %}
        {% set route = 'homepage' %}
    {% else %}
        {% set route = app.request.get('_route') %}
    {% endif %}

    {% for locale in app_locales|split('|') %}
        <a class="dropdown-item"
           href="{{ path(route, app.request.query.all|merge(app.request.get('_route_params', {}))|merge({'_locale': locale})) }}">
            {{ locale|language_name(locale)|capitalize }}
        </a>
    {% endfor %}
</div>
