{% set path = app.request.get('_route') %}

<div class="container mt-2 pt-4">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="logo navbar-brand mr-0" href="{{ path('homepage', app.request.query.all) }}">
                <img class="img-fluid" src="{{ asset('build/images/logos/WSWC.png') }}" width="200" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ml-3">
                    <li class="nav-item {% if path == 'homepage' %}active{% endif %}">
                        <a class="nav-link text-center"
                           href="{{ path('homepage') }}">{{ 'navbar.index'|trans }}</a>
                    </li>
                    <li class="nav-item {% if path == 'context' %}active{% endif %}">
                        <a class="nav-link text-center"
                           href="{{ path('context') }}">{{ 'navbar.context'|trans }}</a>
                    </li>
                    <li class="nav-item {% if path == 'actions' %}active{% endif %}">
                        <a class="nav-link text-center"
                           href="{{ path('solutions') }}">{{ 'navbar.solutions'|trans }}</a>
                    </li>
                    <li class="nav-item {% if path == 'map' %}active{% endif %}">
                        <a class="nav-link text-center"
                           href="{{ path('map') }}">{{ 'navbar.about_us'|trans }}</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <a href="{{ path('login') }}" class="btn btn-link text-primary nav-link">
                            {{ 'login.button'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('participate') }}" class="btn btn-secondary text-white nav-link">
                            {{ 'navbar.participate'|trans }}
                        </a>
                    </li>
                    <li class="nav-item dropdown pl-3">
                        {% include 'default/language_switcher.html.twig' %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
