@import '../helpers/colors';

.bubble-icons {
    .title {
        margin-bottom: 1rem;
    }

    .icons {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        position: relative;
        align-items: stretch;
        justify-content: center;

        div {
            flex: 1;
            text-align: center;
            position: relative;
            align-self: stretch;
            height: 150px;

            .icon {
                font-size: 1.8rem;
            }

            em {
                background: $pink;
                border-radius: 30px;
                width: 60px;
                height: 60px;
                padding: 10px;
                line-height: 40px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
            }

            &.active {
                em {
                    background: $blue;
                    color: white;
                }
            }

            &:nth-child(odd) {
                em {
                    top: 0;
                }
            }

            &:nth-child(even) {
                em {
                    bottom: 0;
                }
            }
        }
    }
}
