@import "./assets/sass/helpers/_colors.scss";

.details-buttons {
    width: 100%;

    .button {
        display: block;
        cursor: pointer;
        user-select: none;
        color: #444;
        text-align: left;
        padding: 20px 45px 20px 15px;
        background: white;
        font-size: 0.9em;
        border-radius: 8px;
        position: relative;
        border: 2px solid transparent;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.1);

        &:hover {
            border: 2px solid $coral;
        }

        &:not(:first-child) {
            margin-top: 1em;
        }

        &:after {
            content: "\f061";
            line-height: 30px;
            border-radius: 5px;
            background: $coral;
            position: absolute;
            right: 15px;
            top: 25%;
            width: 30px;
            height: 30px;
            font-weight: bold;
            font-family: "Font Awesome 5 Free";
            text-align: center;
        }

        &.button-attachment:after {
            content: "\f0c6";
        }
    }
}
