.dropdown-menu {
    min-width: 0;
    margin-left: 1rem;

    @include media-breakpoint-down("md") {
        margin-left: 0;

        &-right {
            margin-right: 0;
        }
    }
}
.dropdown-toggle::after {
    content: none;
}
