.event-card {
    display: inline-block;

    &:after {
        display: block;
        content: "";
        background: #8f8f8f;
        height: 1px;
        width: 100%;
        position: relative;
        margin: 2em 0;
    }

    .description {
        display: flex;
        flex-direction: row;
        margin: 1em 0;
        align-items: baseline;

        .icon {
            flex: 0 0 auto;
            img {
                max-width: 48px;
                max-height: 48px;
                object-fit: scale-down;
            }
        }

        .title {
            flex: 1;
            font-size: 1.5em;
            font-weight: bold;
            margin: 0 1.3em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .sub {
                margin-top: 0.4em;
                font-weight: normal;
                font-size: 0.9rem;
                color: #8f8f8f;
            }
        }

        .button {
            flex: 0 0 auto;
        }
    }
}
