.fields-group {
    margin-bottom: 1em;

    select {
        width: 100%;
    }

    &__control, .form-inline {
        display: flex;

        & > select {
            flex: 1 1;

            &:not(:first-of-type) {
                margin-left: 0.5em;
            }

            &:not(:last-of-type) {
                margin-right: 0.5em;
            }
        }
    }
}
