@import "../helpers/colors";

.flashbag-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1050;

    @include media-breakpoint-down("md") {
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .flashbag {
        display: none;
        position: relative;
        background: $dark-grey;
        padding: 15px 80px 15px 40px;
        width: 500px;
        max-width: 98%;
        margin-bottom: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

        @include media-breakpoint-down("md") {
            max-width: 100%;
            width: 100%;
            margin-bottom: 0;
        }

        p {
            color: white;
            text-align: left;
            margin-bottom: 0;
            font-size: 15px;
            padding-left: 20px;

            i.fas {
                display: block;
                position: absolute;
                left: 20px;
                top: 50%;
                color: $dark-grey;
                margin-top: -13px;
                font-size: 19px;
                width: 25px;
                height: 25px;
                line-height: 25px;
                background: white;
                border-radius: 50%;
                text-align: center;
            }

            a {
                color: lightgrey;
                text-decoration: underline;
            }
        }

        a.dismiss {
            position: absolute;
            right: 15px;
            top: 15px;
            color: white;
            cursor: pointer;

            &:hover {
                color: #999;
            }
        }

        &__button {
            padding-right: 40px;

            p {
                display: inline-block;
                width: 300px;
                vertical-align: middle;

                @include media-breakpoint-down("md") {
                    display: block;
                    width: auto;
                }
            }

            .buttons {
                width: 100px;
                display: inline-block;
                text-align: right;

                @include media-breakpoint-down("md") {
                    width: auto;
                    display: block;
                }

                button {
                    white-space: normal;
                }
            }
        }
    }
}
