.footer {
    margin: 5em 0;

    .links {
        padding: 3em 0;
    }

    .logos {
        text-align: center;
        margin-bottom: 2em;
        .logo {
            display: inline-block;
            width: 200px;
            padding: 1em;
            vertical-align: middle;

            &:not(:last-child) {
                margin-right: 1em;
            }
        }
    }

    .copyright {
        font-size: 0.9em;
        color: #707070;
        text-align: center;
        padding-bottom: 1rem;
    }
}
