.graph {
    text-align: center;

    .component {
        display: inline-block;
        font-size: 4rem;
        text-align: center;
    }

    .title {
        font-family: "cunia-bold", sans-serif;
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: bold;

        .subtitle {
            text-transform: none;
            font-weight: normal;
            font-family: "aileron-regular", sans-serif;
            font-size: 1em;
        }
    }

    .component,
    .title {
        margin-bottom: .2em;
    }
}

.graph-set {
    display: flex;
    flex-direction: row;

    .graph {
        flex: 1;
        padding: 0 1em;
        align-items: center;

        &:not(:last-child) {
            margin-right: 2.5em;
        }
    }

    @include media-breakpoint-down("md") {
        flex-direction: column;

        .graph {
            display: flex;
            align-items: center;

            .component{
                margin-bottom: 0;
            }

            .component,
            .title {
                flex: 1;
            }

            .title {
                padding: 2em;
            }

            &:not(:last-child) {
                margin-bottom: 2.5em;
            }

            &:nth-child(odd) {
                flex-direction: row;
                text-align: left;
            }

            &:nth-child(even) {
                flex-direction: row-reverse;
                text-align: right;
            }
        }
    }
}
