@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$content-font-size: 0.9em;
$content-spacing: 0.8em;

.image-card {
    display: flex;

    align-items: flex-start;
    justify-content: center;
    flex-direction: row;

    &.inverse {
        flex-direction: row-reverse;
    }

    @include media-breakpoint-down("md") {
        flex-direction: column !important;

        .content {
            width: 100%;
        }
    }

    .image {
        flex: 1;

        img {
            border-radius: 10px;
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }

    .content {
        flex: 1;
        width: 100%;

        &>.title {
            font-family: "cunia-bold", sans-serif;
            font-size: 2.5em;
            line-height: 1.2em;
            font-weight: bold;

            @include media-breakpoint-down("md") {
                font-size: 2em;
            }
        }

        > .subtitle {
            color: #8f8f8f;
            margin-top: $content-spacing;
            font-size: $content-font-size;
        }

        > .pre {
            font-size: $content-font-size;
            font-weight: bold;
            margin-top: $content-spacing;
        }

        > .text {
            margin-top: $content-spacing;
        }
    }

    &.vertical {
        flex-direction: column;

        .image {
            margin-right: 0;

            img {
                max-height: 250px;
            }
        }

        .content {
            &>.title {
                margin-bottom: $content-spacing;
            }

            .pre {
                margin-top: $content-spacing * 4;
            }
        }
    }
}
