@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "../components/status";
@import "../helpers/colors";

.map {
    .interactive {
        width: 100%;
        height: 600px;
        background: white;
        border-radius: 5px;
        overflow: hidden;
        position: relative;

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            content: '';
            background-image: linear-gradient(rgba(165, 164, 164, .7) .1em, transparent .1em), linear-gradient(90deg, rgba(165, 164, 164, .7) .1em, transparent .1em);
            background-size: 3em 3em;
        }

        &-small {
            height: 200px;
        }
    }
}
