@import '../helpers/colors';
@import '../helpers/fonts';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

$badge-height: 48px;

.matches {
    .match {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        line-height: 4rem;
        margin-bottom: 1.5rem;

        &:not(:last-of-type):not(:first-of-type) {
            margin: 1rem 0;
        }

        * {
            font-size: 1.2rem !important;
        }

        .profile {
            flex: 0 0 auto;
            text-align: left;
            width: 100%;
            margin-bottom: 1.5rem;
            align-items: baseline;
            flex-wrap: wrap;
            display: flex;

            & > * {
                display: inline-flex;
            }

            .photo {
                width: $badge-height;
                height: auto;
                object-fit: scale-down;
                margin-right: 1.3rem;
            }

            .name {
                font-size: 1rem;
            }
        }

        .state {
            flex: 1;
            margin: 0 1rem;
            text-align: start;

            .text {
                display: inline-block;
                font-size: .85rem !important;
                line-height: initial;
                padding: .6rem .7rem;
                border-radius: .5rem;
                border: 1px solid $light-grey;
                color: white;
                background: $yellow;
                text-transform: uppercase;
            }
        }

        @mixin action-hover {
            background: $blue;
            color: white;
            border-color: $dark-grey;
        }

        @mixin action-hover-declined {
            &.decline {
                background: $darkpink;
            }
        }

        .actions {
            margin-left: auto;
            margin-right: 1rem;

            & > a {
                text-decoration: none;
            }

            .action {
                height: $badge-height;
                width: $badge-height;
                border: 2px solid;
                border-radius: $badge-height;
                display: inline-block;
                cursor: pointer;
                transition: background 200ms ease;
                color: black;
                text-align: center;
                line-height: $badge-height;

                &.decline {
                    border-color: $darkpink;
                }

                &.accept {
                    border-color: $blue;
                }

                &:not(:last-of-type) {
                    margin-right: .8rem;
                }

                &:hover {
                    @include action-hover;
                    @include action-hover-declined;

                }
            }
        }

        &.accepted {
            .actions {
                div.accept {
                    @include action-hover;
                }
            }

            .state {
                .text {
                    background: $green;
                }
            }
        }

        &.declined {
            .actions {
                div.decline {
                    @include action-hover;
                    @include action-hover-declined;
                }
            }

            .state {
                .text {
                    background: $darkpink;
                }
            }
        }

        &.pending {
            .state {
                .text {
                    background: $yellow;
                }
            }
        }
    }

    .description {
        line-height: 1.2rem;
        word-break: break-word;
        flex-basis: 100%;
        margin-left: 4rem;
    }
}
