@import "../helpers/colors";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.menu {
  @include media-breakpoint-up("lg") {
    margin: 0 3rem 3rem;
  }

  @include media-breakpoint-down("lg") {
    width: 20vw;
  }

  @include media-breakpoint-down("md") {
    overflow-y: auto;
    padding: 1rem 0;
    width: 100%;
    .hidden-md {
      display: none;
    }
  }

  .logo {
    text-align: center;
    margin-bottom: 2rem;
    @include media-breakpoint-down("md") {
      display: none;
    }
  }

  .foot {
    max-width: 200px;

    .esn {
      margin: 1em 0;
      text-align: center;
    }

    .copyright {
      font-size: 0.9em;
      color: #707070;
      text-align: center;

      .cc {
        margin-top: 1rem;
      }
    }

    @include media-breakpoint-down("md") {
      display: none;
    }
  }

  .menu-items {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down("md") {
      flex-direction: row;
      &:before {
        opacity: 0.3;
        width: 90%;
        height: 2px;
        background: $dark-grey;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        content: "";
      }
    }

    .item {
      flex: 1;
      font-size: 1rem;
      padding: 0.6em;
      cursor: pointer;
      border-radius: 15px;
      margin: 0.5rem 0;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus,
      &.active {
        background: $blue;
        color: white;
        text-shadow: 0 0 4px #333, 0 0 4px #333;
      }

      &.active {
        display: block !important;
      }

      background: transparent;
      color: $light-grey;

      @include media-breakpoint-down("md") {
        text-align: center;
        background: transparent !important;
        &:hover,
        &:active,
        &:focus,
        &.active {
          color: $blue;
          text-shadow: none;
        }
      }

      .text {
        display: inline-block;
        @include media-breakpoint-down("md") {
          display: none;
        }
      }

      .icon {
        font-size: 1.5rem;
        display: inline-block;
        vertical-align: middle;
        width: 35px;
      }

      &.hidden {
        display: none;
      }
    }

    hr {
      width: 50px;

      &:first-child {
        margin-top: 2.5rem;
      }

      &:last-child {
        margin-bottom: 2.5rem;
      }

      @include media-breakpoint-down("lg") {
        border: none;
        border-left: 2px solid;
        width: 0;
        height: 25px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}

.collapsed .menu {
  @include media-breakpoint-down("lg") {
    width: unset;
  }
}
