.modal-open{
  > header,
  > main,
  > footer {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
}
.modal-backdrop {
  display: none;
}
.modal-title {
  font-size: 2.5rem;
  margin-top: 1rem;

  @include media-breakpoint-down('xs'){
    font-size: 1.8rem;
  }
}
.modal-dialog {
  max-width: 580px;
  overflow-y: initial !important
}
.modal-body{
  max-height: 80vh;
  overflow-y: auto;
}
.modal-second {
    z-index: 1049;
}
