.odd-even-container {
    .oe {
        display: flex;
        align-items: flex-start;

        &:not(:last-child) {
            margin-bottom: 8em;
        }

        .oe-fx {
            flex: 1;

            &.logo {
                text-align: center;
            }
        }

        &:nth-child(odd) {
            flex-direction: row;

            .separate {
                margin-left: 5em;
            }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            .separate {
                margin-right: 5em;
            }
        }

        @include media-breakpoint-down("md") {
            flex-direction: column !important;
            text-align: left !important;

            .separate {
                margin: 2em 0 0 0 !important;
            }
        }
    }

    &.inverse {
        .oe {
            &:nth-child(odd) {
                flex-direction: row-reverse;

                .separate {
                    margin-right: 5em;
                }
            }

            &:nth-child(even) {
                flex-direction: row;

                .separate {
                    margin-left: 5em;
                }
            }
        }
    }
}
