.photo {
  //    overflow: hidden;
  text-align: center;

  &.small {
    img {
      max-width: 85px;
    }
  }

  img {
    height: auto;
    width: 100%;
    max-height: 100px;
    min-width: 30px;
    object-fit: contain;
    border-radius: 8px;
  }
}