@import "../helpers/colors";

.radio-group {
    text-align: center;

    .radio {
        label {
            color: black !important;
            background-color: white;
            font-size: 13px;

            &.active {
                background-color: $coral !important;
            }
        }

        padding: 0.5rem 0.5rem;
        background-color: white;
        border-radius: 0.6rem;
    }
}
