*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border: solid 3px transparent;
}

.tabulator .tabulator-tableHolder::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}
