@import '../helpers/colors';

$base-line-height: 24px;
$off-white: rgba($green, 0.2);
$spin-duration: 750ms;
.small-loader {
  border-radius: 50%;
  width: $base-line-height;
  height: $base-line-height;
  border: .25rem solid $off-white;
  border-top-color: $blue;
  animation: spin $spin-duration infinite linear;
  top: 50%;
  left: 50%;
  display: none;
  position: sticky;

  [dir=rtl] &{
    left: inherit;
    right: 50%;
  }

  .small-loader-loading & {
    display: block;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
