@import "../helpers/colors";

.status {
    display: block;

    &:before {
        content: "";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        border-radius: 14px;
        width: 28px;
        height: 28px;
        background: $light-grey;
        display: inline-block;
        margin-right: 1rem;
        vertical-align: middle;
        color: white;
        font-size: 0.9rem;
        line-height: 28px;
        text-align: center;
    }

    &.accepted {
        &:before {
            content: "\f00c";
            background: $blue;
        }
    }

    &.declined {
        &:before {
            content: "\f00d";
            background: $darkpink;
        }
    }

    &.open {
        &:before {
            content: "\f52b";
            background: $blue;
        }
    }

    &.pending {
        &:before {
            content: "\f252";
            background: $yellow;
        }
    }

    &.info {
        &:before {
            content: "\f129";
            background: $blue;
        }
    }

    &.disabled {
        &:before {
            content: "";
            background: lightgrey;
        }
    }
}
