@import "./assets/sass/helpers/_colors.scss";
$radius: 8px;

.tabs {
    background: white;
    border-radius: $radius;
    padding: 0.3em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;

    .tab {
        justify-content: center;
        border-radius: $radius;
        cursor: pointer;
        white-space: nowrap;
        user-select: none;
        padding: 1em 2.5em;
        font-weight: bold;
        font-size: 0.9em;
        display: inline-block;
        text-overflow: ellipsis;
        flex: 1;

        &:not(:last-child) {
            margin-right: 0.1em;
        }

        &:active,
        &:hover,
        &:focus {
            background: rgba(252, 241, 234, 0.45);
        }

        &.active {
            background: $lightcoral;
        }
    }
}
