@import '../helpers/colors';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.tags{
    .tag {
        @include media-breakpoint-down("md") {
            margin-top: 1rem;
        }

        margin: .3rem;
        display: inline-block;
        padding: .5rem 1rem;
        border-radius: 1em;
        background: $blue;
        color: white;

        &.red {
            background: $darkpink;
        }

        &.green {
            background: $green;
        }

        &.yellow {
            background: $yellow;
        }
    }
}
