@import "../helpers/colors";

label.required:after,
legend.required:after {
    content: " *";
}

input:not([type='file']):not([type='submit']),
textarea {
    background: white !important;
    border-radius: 8px !important;
    padding: 1em !important;
    resize: none !important;
}

select {
    font-size: inherit;
    padding: 1em;
    margin: 0;
    background-color: white;
    color: #444;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

select[disabled] {
    color: rgba(0, 0, 0, 0.4);
}

.choices {
    &__inner {
        background-color: white;
        border-radius: 8px !important;
        border: 1px solid #b8b8b8;
    }

    &__list {
      z-index: 1001;

        &--multiple {
            .choices__item {
                background-color: $blue;
                border-color: $blue;
            }
        }
    }
}

.address-field {
    margin-bottom: 0;
}

.autoComplete_wrapper {
    width: 100%;

    > input {
        color: #495057;
    }

    > ul {
        z-index: 1001;
    }
}

