.title-sub {
    text-align: center;
    margin-bottom: 4em;

    .title {
        font-family: "cunia-bold", sans-serif;
        font-size: 2.5em;
        font-weight: bold;

        .sub {
            margin-top: 0.9em;
            font-family: "aileron-regular", sans-serif;
            font-size: 1rem;
            font-weight: normal;
        }
    }
}
