@import '../helpers/colors';

.titled-p {
    margin-bottom: 1.5rem;

    .title {
        font-size: 1.25em ;
        font-weight: bold;
        margin-bottom: 0 !important;
        &:after {
            display: block;
            margin-bottom: 1rem;
            margin-top: .3rem;
            content: '';
            background: $grey-gradient;
            width: 100%;
            height: 2px;
        }
    }

    .text {
        font-size: 1.1em;
        text-overflow: ellipsis;
        overflow: hidden;

        .sub {
            font-size: 0.8em;
        }
    }
}
