<div class="accommodation">
    {{ form_start(form) }}

    <div class="py-4">
        {{ form_row(form.name) }}
    </div>

    <div class="py-4">
        <p class="font-weight-bold">{{ 'accommodation.general'|trans }}</p>
        {{ form_row(form.description) }}
        {{ form_row(form.type) }}
        {{ form_row(form.houseSize) }}
        {{ form_row(form.sharedHouseRooms) }}
        {{ form_row(form.ancillaryRooms) }}
    </div>

    <div class="py-4">
        <p class="font-weight-bold">{{ 'accommodation.room'|trans }}</p>
        {{ form_row(form.roomDescription) }}
        {{ form_row(form.roomSize) }}
    </div>

    {% if form.priceAmount is defined and form.currency is defined %}
        <div class="py-4">
            <p class="font-weight-bold">{{ 'accommodation.costs'|trans }}</p>
            {{ form_row(form.priceAmount) }}
            {{ form_row(form.currency) }}
        </div>
    {% endif %}

    <div class="py-4">
        <p class="font-weight-bold">{{ 'accommodation.availability'|trans }}</p>
        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
    </div>

    <div class="py-4">
        <p class="font-weight-bold">{{ 'accommodation.preferences'|trans }}</p>
        {{ form_row(form.hasPet) }}
        {{ form_row(form.hasWifi) }}
        {{ form_row(form.acceptSmokers) }}
    </div>

    <div class="py-4">
        {{ form_row(form.images, {'label_attr': {'class': 'font-weight-bold'}}) }}
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}

    <div class="pt-4 text-right">
        <button type="submit" class="btn btn-primary btn--shadow">{{ 'actions.submit'|trans }}</button>
    </div>

    {{ form_end(form) }}
</div>
