{% extends 'account/_panels.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('accommodations_list') }}
{% endblock %}

{% block title %}| Accommodations{% endblock %}

{% block dashboardContent %}
    <div class="panel">
        <div class="content">
            <div id="tabulator"
                 data-types="{{ types|json_encode }}"
                 data-status="{{ status|json_encode }}"
                 data-boolean="{{ booleanFilter|json_encode }}"
                 data-filters="{{ app.request.query.all|json_encode }}"
            ></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('accommodations_list') }}
{% endblock javascripts %}
