<div class="mt-4" data-controller="popup-on-click" data-popup-on-click-id-value="{{ accommodation.id }}">
    {% if accommodation.images|length > 0 %}
        <div class="image">
            <div id="primary-slider" class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for image in accommodation.images %}
                            <li class="splide__slide">
                                <img src="{{ vich_uploader_asset(image, 'imageFile') }}">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if accommodation.images|length > 1 %}
                <div id="secondary-slider" class="splide mt-3">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for image in accommodation.images %}
                                <li class="splide__slide">
                                    <img src="{{ vich_uploader_asset(image, 'imageFile') }}">
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="image-card vertical">
        <div class="content">
            <div class="name">{{ accommodation.name }}</div>
            <div class="tags">
                <div class="tag {{ accommodation.status == constant('App\\Enum\\AccommodationStatusEnum::STATUS_OCCUPIED')
                                ? 'green'
                                : accommodation.status == constant('App\\Enum\\AccommodationStatusEnum::STATUS_CLOSED')
                                ? 'red'
                                : accommodation.status == constant('App\\Enum\\AccommodationStatusEnum::STATUS_AWAITING_APPROVAL')
                                ? 'yellow'
                                : '' }}"
                >
                    {{ accommodation.status|readable_enum('AccommodationStatusType')|trans }}
                </div>
            </div>

            <div class="text">
                <div class="py-4">
                    <div class="titled-p">
                        <div class="title">{{ 'accommodation.general'|trans }}</div>
                        <div class="text">{{ accommodation.description }}</div>
                    </div>
                    <div class="titled-p">
                        <div class="title">{{ 'accommodation.type'|trans }}</div>
                        <div class="text">{{ accommodation.type|readable_enum('AccommodationTypeType')|trans }}</div>
                    </div>
                    <div class="titled-p">
                        <div class="title">{{ 'accommodation.size'|trans }}</div>
                        <div class="text">{{ accommodation.houseSize }} m&sup2;</div>
                    </div>

                    {% if accommodation.sharedHouseRooms > 0 %}
                        <div class="titled-p">
                            <div class="title">{{ 'accommodation.shared_rooms'|trans }}</div>
                            <div class="text">{{ accommodation.sharedHouseRooms }}</div>
                        </div>
                    {% endif %}

                    {% if accommodation.ancillaryRooms|length > 0 %}
                        <div class="titled-p">
                            <div class="title">{{ 'accommodation.ancillary_rooms'|trans }}</div>
                            <div class="text">
                                {%- for ancillaryRoom in accommodation.ancillaryRooms -%}
                                    {{ ancillaryRoom|readable_enum('AccommodationAncillaryRoomType')|trans }}
                                    {%- if not loop.last -%},&nbsp;{%- endif -%}
                                {%- endfor -%}
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="py-4">
                    <div class="titled-p">
                        <div class="title">{{ 'accommodation.room'|trans }}</div>
                        <div class="text">{{ accommodation.roomDescription }}</div>
                    </div>

                    <div class="titled-p">
                        <div class="title">{{ 'accommodation.size'|trans }}</div>
                        <div class="text">{{ accommodation.roomSize }} m&sup2;</div>
                    </div>
                </div>

                {% if accommodation.priceAmount is not null %}
                    <div class="py-4">
                        <div class="titled-p">
                            <div class="title">{{ 'accommodation.price'|trans }}</div>
                            <div class="text">
                                {{ accommodation.price|money_localized_format }}
                                {% if accommodationPriceConversion is defined %}
                                    <span class="sub">
                                        {{ '(~ ' ~ accommodationPriceConversion|money_localized_format ~ ')'}}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if (accommodation.startDate is not null) or (accommodation.endDate is not null) %}
                    <div class="py-4">
                        {% if accommodation.startDate is not null %}
                            <div class="titled-p">
                                <div class="title">{{ 'accommodation.start_date'|trans({'%date%': ''}) }}</div>
                                <div class="text">{{ accommodation.startDate|format_date('long') }}</div>
                            </div>
                        {% endif %}

                        {% if accommodation.endDate is not null %}
                            <div class="titled-p">
                                <div class="title">{{ 'accommodation.end_date'|trans({'%date%': ''}) }}</div>
                                <div class="text">{{ accommodation.endDate|format_date('long') }}</div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="bubble-icons py-4">
                <div class="titled-p">
                    <div class="title">{{ 'accommodation.preferences'|trans }}</div>
                </div>
                <div class="icons">
                    {% if accommodation.hasPet %}
                        <div class="pref on">
                            <i class="icon fa fa-paw"></i> <br>{{ 'accommodation.has_pet'|trans }}
                        </div>
                    {% else %}
                        <div class="pref off">
                            <i class="icon fa fa-paw"></i> <br>{{ 'accommodation.no_has_pet'|trans }}
                        </div>
                    {% endif %}
                    {% if accommodation.hasWifi %}
                        <div class="pref on">
                            <i class="icon fa fa-wifi"></i> <br>{{ 'accommodation.has_wifi'|trans }}
                        </div>
                    {% else %}
                        <div class="pref off">
                            <i class="icon fa fa-wifi"></i> <br>{{ 'accommodation.no_has_wifi'|trans }}
                        </div>
                    {% endif %}
                    {% if accommodation.acceptSmokers %}
                        <div class="pref on">
                            <i class="icon fa fa-smoking"></i> <br>{{ 'accommodation.accept_smokers'|trans }}
                        </div>
                    {% else %}
                        <div class="pref off">
                            <i class="icon fa fa-smoking"></i> <br>{{ 'accommodation.no_accept_smokers'|trans }}
                        </div>
                    {% endif %}
                </div>
            </div>

            {% set showButtons = [] %}
            {% set approvalButtons = [] %}

            {% if path not in ['profile_accommodation_edit', 'user_accommodation_edit'] and is_granted(constant('App\\Enum\\AccommodationVoterEnum::EDIT'), accommodation) %}
                {% set path = app.user == user ? path('profile_accommodation_edit') : path('user_accommodation_edit', {id: user.id}) %}
                {% set showButtons = showButtons|merge([
                    {
                        'path': path,
                        'icon': 'fa-pen',
                        'text': 'actions.edit'|trans,
                        'class': 'btn-primary'
                    }
                ]) %}
            {% endif %}

            {% if is_granted(constant('App\\Enum\\AccommodationVoterEnum::APPROVE'), accommodation) %}
                {% set approvalButtons = approvalButtons|merge([
                    {
                        'route': 'accommodation_status_open',
                        'text': accommodation.status == constant('App\\Enum\\AccommodationStatusEnum::STATUS_CLOSED')
                        ? 'actions.publish'|trans
                        : 'actions.approve'|trans,
                        'class': 'btn-success'
                    }
                ]) %}
            {% elseif is_granted(constant('App\\Enum\\AccommodationVoterEnum::CLOSE'), accommodation) %}
                {% set approvalButtons = approvalButtons|merge([
                    {
                        'route': 'accommodation_status_closed',
                        'icon': 'fa-times-circle',
                        'text': 'actions.close'|trans,
                        'class': 'btn-danger'
                    }
                ]) %}
            {% endif %}

            {% if showButtons|length > 0 or approvalButtons|length > 0 %}
                <div class="py-4">
                    <div class="titled-p">
                        <div class="title">{{ 'actions'|trans }}</div>
                        <div class="text">
                            {% include 'default/_list_actions.html.twig' with {
                                'showButtons': showButtons,
                                'approvalButtons': approvalButtons
                            } %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
