{% extends 'account/_panels.html.twig' %}

{% if form is defined %}
    {% form_theme form 'form/_fields.html.twig' %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('toolbox') }}
{% endblock %}

{% block title %}| {{ 'toolbox.meta.title'|trans }}{% endblock %}

{% block dashboardContent %}
    <div class="panel">
        <div class="content">
            {% set addHR = false %}

            {% if generalDocuments is defined and generalDocuments is not empty %}
                {% set addHR = true %}
                <div class="m-4">
                    <h1 class="text-primary">{{ 'toolbox.resources.general.title'|trans }}</h1>

                    {% include 'toolbox/_docs.html.twig' with {documents: generalDocuments} %}
                </div>
            {% endif %}

            {% if associationDocuments is defined and associationDocuments is not empty %}
                {% if addHR %}
                    <hr>
                {% else %}
                    {% set addHR = true %}
                {% endif %}

                <div class="m-4">
                    <h1 class="text-primary">{{ 'toolbox.resources.association.title'|trans }}</h1>

                    {% include 'toolbox/_docs.html.twig' with {documents: associationDocuments} %}
                </div>
            {% endif %}

            {% if form is defined %}
                {% if addHR %}
                    <hr>
                {% endif %}

                <div class="m-4">
                    <h1 class="text-primary">{{ 'toolbox.resources.management.title'|trans }}</h1>

                    {% if addedDocuments is defined and addedDocuments is not empty %}
                        {% include 'toolbox/_docs.html.twig' with {documents: addedDocuments, fullDetails: true} %}
                    {% endif %}

                    {% include 'toolbox/_new.html.twig' %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('toolbox') }}
{% endblock %}
