<!DOCTYPE HTML >
<html lang="{{ app.request.locale }}">
{% set host = app.request.schemeAndHttpHost %}
<head>
    <title>WeShareWeCare</title>

    {% for path in encore_entry_css_files('main') %}
        <link rel="stylesheet" href="{{ absolute_url(path) }}">
    {% endfor %}
    {% for path in encore_entry_css_files('agreement') %}
        <link rel="stylesheet" href="{{ absolute_url(path) }}">
    {% endfor %}
</head>
<body>
<div class="main-title">
    <img class="logo" src="{{ host ~ asset('build/images/logos/WSWC-HEAD.svg') }}" alt="logo">
    <img class="img-fluid" src="{{ host ~ asset('build/images/logos/WSWC.png') }}" width="300" alt="logo">
</div>

<div class="container medium-font">
    {% set agreementParams = cohabitation.agreementParamsValues %}

    {% set ancillaryRooms = '' %}
    {% for ancillaryRoom in accommodation.ancillaryRooms %}
        {% if ancillaryRooms != '' %}
            {% set ancillaryRooms = ancillaryRooms ~ ', ' %}
        {% endif %}
        {% set ancillaryRooms = ancillaryRooms ~ ancillaryRoom|readable_enum('AccommodationAncillaryRoomType')|trans %}
    {% endfor %}

    {% set chargeTypes = '' %}
    {% if agreementParams['chargesTypes'] is defined %}
        {% for chargeType in agreementParams['chargesTypes'] %}
            {% if chargeTypes != '' %}
                {% set chargeTypes = chargeTypes ~ ', ' %}
            {% endif %}
            {% set chargeTypes = chargeTypes ~ chargeType|readable_enum('AccommodationChargeTypeType')|trans %}
        {% endfor %}
    {% endif %}

    {% set dateDiff = date(cohabitation.endDate).diff(date(cohabitation.startDate)) %}

    {% set translationParams = {
        '%manager_name%': manager.fullName,
        '%manager_email%': manager.email,
        '%manager_phone%': manager.profile.phoneNumber ? manager.profile.phoneNumber|phone_number_format('INTERNATIONAL') : '',
        '%retired_name%': senior.fullName,
        '%retired_address%': senior.location.readableAddress,
        '%retired_email%': senior.email,
        '%retired_birthday%': senior.birthday|format_date('long'),
        '%retired_phone%': senior.profile.phoneNumber ? senior.profile.phoneNumber|phone_number_format('INTERNATIONAL') : '',
        '%retired_passport%': agreementParams['passportSenior'] is defined ? agreementParams['passportSenior'] : '',
        '%retired_contact%': agreementParams['contactSenior'] is defined ? agreementParams['contactSenior'] : '',
        '%retired_accept_to_promote%': agreementParams['seniorAcceptToPromote'] is defined ? (agreementParams['seniorAcceptToPromote'] ? 'yes'|trans : 'no'|trans) : '',
        '%student_name%': young.fullName,
        '%student_address%': young.location.readableAddress,
        '%student_email%': young.email,
        '%student_birthday%': young.birthday|format_date('long'),
        '%student_phone%': young.profile.phoneNumber ? young.profile.phoneNumber|phone_number_format('INTERNATIONAL') : '',
        '%student_university%': young.profile.university,
        '%student_passport%': agreementParams['passportYoung'] is defined ? agreementParams['passportYoung'] : '',
        '%student_contact%': agreementParams['contactYoung'] is defined ? agreementParams['contactYoung'] : '',
        '%student_accept_to_promote%': agreementParams['youngAcceptToPromote'] is defined ? (agreementParams['youngAcceptToPromote'] ? 'yes'|trans : 'no'|trans) : '',
        '%start_date%': cohabitation.startDate|format_date('long'),
        '%end_date%': cohabitation.endDate|format_date('long'),
        '%month_period%': dateDiff.m + (dateDiff.y * 12),
        '%association_name%': association.name,
        '%association_address%': association.location.readableAddress,
        '%price%': cohabitation.price|money_localized_format,
        '%deposit%': agreementParams['deposit'] is defined ? agreementParams['deposit']|money_localized_format : '',
        '%rental_charges%': agreementParams['charges'] is defined ? agreementParams['charges']|money_localized_format : '',
        '%accommodation_type%': accommodation.type|readable_enum('AccommodationTypeType')|trans,
        '%accommodation_rooms%': agreementParams['houseRooms'] is defined ? agreementParams['houseRooms'] : 0,
        '%accommodation_shared_rooms%': accommodation.sharedHouseRooms,
        '%accommodation_size%': accommodation.houseSize,
        '%accommodation_room_size%': accommodation.roomSize,
        '%accommodation_shared_size%': agreementParams['sharedHouseSize'] is defined ? agreementParams['sharedHouseSize'] : 0,
        '%accommodation_ancillary_rooms%': ancillaryRooms,
        '%accommodation_charge_types%': chargeTypes,
        '%nb_keys%': agreementParams['nbKeys'] is defined ? agreementParams['nbKeys'] : 0,
        '%shared_rooms_description%': agreementParams['sharedRoomsDescription'] is defined ? agreementParams['sharedRoomsDescription'] : '',
        '%young_tasks%': agreementParams['youngTasks'] is defined ? agreementParams['youngTasks'] : '',
        '%account_number%': agreementParams['accountNumber'] is defined ? agreementParams['accountNumber'] : '',
        '%package_type%': agreementParams['packageType'] is defined ? ('cohabitation.package_type.'~agreementParams['packageType'])|trans : '',
        '%deposit_date%': agreementParams['depositDate'] is defined ? agreementParams['depositDate']|format_date('long') : '',
        '%today_date%': 'now'|date|format_date('long'),
    } %}

    {% for key, value in enum_readable_values('CohabitationAvailableServicesType') %}
        {% set translationParams = translationParams|merge({
            ('%available_services.'~key~'%'): (agreementParams['availableServices'] is defined and key in agreementParams['availableServices']) ? 'X' : ''
        }) %}
    {% endfor %}

    {{ ('cohabitation.agreement.'~association.agreementVersion)|trans(translationParams)|raw|markdown_to_html }}

    <div class="mt-5 text-center">
        <div class="col-6">
            <p class="medium-font">{{ senior.fullName }}</p>
            <p class="small-font">{{ 'cohabitation.agreement.date_and_signature'|trans }}</p>
        </div>
        <div class="col-6">
            <p class="medium-font">{{ young.fullName }}</p>
            <p class="small-font">{{ 'cohabitation.agreement.date_and_signature'|trans }}</p>
        </div>
    </div>
</div>
</body>
</html>
