{% extends 'account/_panels.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cohabitations_list') }}
{% endblock %}

{% block title %}| {{ 'cohabitation.list.meta.title'|trans }}{% endblock %}

{% block dashboardContent %}
    <div class="panel">
        <div class="content">
            <div id="tabulator"
                 data-steps="{{ steps|json_encode }}"
                 data-filters="{{ app.request.query.all|json_encode }}">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cohabitations_list') }}
{% endblock javascripts %}
