{% extends 'account/_panels.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cohabitation') }}
{% endblock %}

{% block title %}| {{ 'cohabitation.meta.title'|trans }}{% endblock %}

{% block dashboardContent %}
    <div class="panel" data-controller="popup-on-click" data-popup-on-click-id-value="{{ cohabitation.id }}">
        <div class="header">
            <h1 class="title">{{ 'cohabitation.title'|trans }}</h1>
            {% if accommodationDemand.status in [
                constant('App\\Enum\\AccommodationDemandStatusEnum::STATUS_CLOSED'),
                constant('App\\Enum\\AccommodationDemandStatusEnum::STATUS_COMPLETED')
            ] %}
                <div class="tags">
                    <div class="tag {{ constant('App\\Enum\\AccommodationDemandStatusEnum::STATUS_CLOSED')?'red':'green' }}">
                        {{ accommodationDemand.status|readable_enum('AccommodationDemandStatusType')|trans }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="content">
            {% set user = accommodationDemand.young %}
            {% include 'user/_user_introduction.html.twig' %}

            {% set user = accommodationDemand.senior %}
            {% include 'user/_user_introduction.html.twig' %}

            {% if is_granted(constant('App\\Enum\\CohabitationVoterEnum::EDIT'), cohabitation) %}
                <div class="pt-4">
                    <div class="titled-p">
                        <div class="title">{{ 'actions'|trans }}</div>
                        <div class="text">
                            {% set approvalButtons = [
                                {
                                    'route': 'cohabitation_closing',
                                    'icon': 'fa-times-circle',
                                    'text': 'actions.close'|trans,
                                    'class': 'btn-danger'
                                }
                            ] %}

                            {% if accommodationDemand.thread and is_granted(constant('App\\Enum\\ThreadVoterEnum::SEE'), accommodationDemand.thread) %}
                                {% set showButtons = [
                                    {
                                        'path': path('messages')~'#'~accommodationDemand.thread.id,
                                        'icon': 'fa-envelope',
                                        'text': 'actions.message'|trans,
                                        'class': 'btn-info'
                                    }
                                ] %}
                            {% else %}
                            {% set showButtons = [] %}
                            {% endif %}

                            {% include 'default/_list_actions.html.twig' with {
                                'showButtons': showButtons,
                                'approvalButtons': approvalButtons
                            } %}
                        </div>
                    </div>
                </div>
            {% elseif cohabitation.closingExplanation %}
                <div class="pt-4">
                    <div class="titled-p">
                        <div class="title">{{ 'cohabitation.closing_explanation'|trans }}</div>
                        <div class="text">
                            {{ cohabitation.closingExplanation }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="panel">
        <div class="header">
            <h1 class="title">{{ 'dashboard.timeline'|trans }}</h1>
        </div>
        <div class="content">
            {% set isCurrentStepDisplayed = false %}
            {% for status in workflow|keys|filter(status => status != constant('App\\Enum\\CohabitationWorkflowStepStatusEnum::STATUS_COHABITATION_INIT')) %}
                {% set isCurrentStep = workflow[status].previous == currentStep %}
                {% if workflow[currentStep].next == status %}
                    {% set isCurrentStepDisplayed = true %}
                {% endif %}
                {% set isStepDone = not(isCurrentStepDisplayed) and stepsDone[status] is defined %}

                <div class="step row">
                    <div class="status col-12 {{ isStepDone ? 'accepted': isCurrentStep ? 'declined': 'disabled' }} {{ status == currentStep and formPrevious is not null ? 'undoable' }}">
                        <div class="title {{ not isStepDone and not isCurrentStep ? 'disabled' }}">
                            {{ status|readable_enum('CohabitationWorkflowStepStatusType')|trans }}
                        </div>

                        <div class="sub col-lg-9">
                            {% if isStepDone %}
                                {{ stepsDone[status].date|format_date('long') }}
                            {% elseif isCurrentStep %}
                                {% set refDescriptionTranslation = ('cohabitation_workflow_step.status.'~status~'.description') %}
                                {% if refDescriptionTranslation|trans != refDescriptionTranslation %}
                                    {{ refDescriptionTranslation|trans }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-12 form">
                        {% if status == currentStep and formPrevious is not null %}
                            {{ form_start(formPrevious) }}
                            <div class="undo-step">
                                <button type="submit"
                                        class="btn btn-primary">{{ 'cohabitation.workflow.cancel_step.button'|trans }}</button>
                                {{ form_rest(formPrevious) }}
                            </div>
                            {{ form_end(formPrevious) }}
                        {% elseif isCurrentStep and formNext is not null %}
                            {{ form_start(formNext) }}
                            <div class="form-row">
                                {{ _self.form_fields(formNext) }}
                                {{ form_rest(formNext) }}
                            </div>

                            <div class="button-step">
                                {% if formNext.children|length > 1 %}
                                    <button type="submit" formaction="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))~'?save_only=1' }}"
                                            class="btn btn-primary">{{ 'cohabitation.workflow.save_step.button'|trans }}
                                    </button>
                                {% endif %}
                                <button type="submit"
                                        class="btn btn-primary">{{ 'cohabitation.workflow.validate_step.button'|trans }}
                                </button>
                            </div>
                            {{ form_end(formNext) }}
                        {% endif %}

                        {% if stepsInfo[status] is defined %}
                            {{ stepsInfo[status]|raw }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cohabitation') }}
{% endblock %}

{% macro form_fields(form) %}
    {% for field in form %}
        {% if not(field.vars.label) and field is iterable and field.vars.compound %}
            {{ _self.form_fields(field) }}
        {% else %}
            <div class="col-sm-11 offset-sm-1 col-xl-5">
                {{ form_row(field) }}
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}