{% extends 'account/_panels.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('hobbies_list') }}
{% endblock %}

{% block title %}| Hobbies{% endblock %}

{% block dashboardContent %}
    <div class="panel">
        <div class="content">
            <div class="row px-3 pb-3">
                {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_SUPER_ADMIN'), app.user) %}
                    <a href="{{ path('hobby_new') }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Create hobby</a>
                {% endif %}
            </div>
            <div id="tabulator"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('hobbies_list') }}
{% endblock javascripts %}
