<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    {% if no_index is defined and no_index %}
        <meta name="robots" content="noindex"/>
    {% endif %}
    <title>WeShareWeCare {% block title %}{% endblock %}</title>

    {% block meta %}
        <meta name="description" content="{{ 'seo.homepage.description'|trans }}">
    {% endblock %}

    <meta property="og:title" content="{{ 'seo.social_network.title'|trans }}" />
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost }}" />
    <meta property="og:image" content="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" />
    <meta property="og:description" content="{{ 'seo.social_network.description'|trans }}" />
    <meta property="og:site_name" content="WeShareWeCare.eu" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ 'seo.social_network.title'|trans }}">
    <meta name="twitter:description" content="{{ 'seo.social_network.description'|trans }}">
    <meta name="twitter:image" content="{{ asset('build/images/logos/WSWC-HEAD.svg') }}">
    <meta name="twitter:image:alt" content="WeShareWeCare Logo">


    {{ encore_entry_link_tags('main') }}

    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}"/>

    {% if google_analytics_id is not empty %}
        <script async src="{{ 'https://www.googletagmanager.com/gtag/js?id='~google_analytics_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ google_analytics_id }}');
        </script>
    {% endif %}
</head>

<body class="{% block classBody %}{% endblock %} {% if app.user and is_granted("ROLE_USER") %}logged-in{% endif %}">

{% block absolute %}
{% endblock %}

{% if landingPage is defined and landingPage %}
    <header>
        {% include 'default/navbar.html.twig' %}
    </header>
{% endif %}

<main>
    {% block body %}
    {% endblock %}

    <div id="flashbags" class="flashbag-container"></div>
</main>

{% if (landingPage is defined and landingPage) or (showFooter is defined and showFooter) %}
    <footer>
        <div class="container">
            {% include 'default/footer.html.twig' %}
        </div>
    </footer>
{% endif %}

{% include 'default/_popup.html.twig' %}

<script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
<script src="{{ url('bazinga_jstranslation_js',{"domain":"messages", "locales":app.request.locale~","~default_locale}) }}"></script>

<script>
    window.onload = (event) => {
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                Flashbag.show('{{ message }}', '{{ label }}');
            {% endfor %}
        {% endfor %}
    };
</script>

{{ encore_entry_script_tags('main') }}

{% block javascripts %}
{% endblock %}

</body>
</html>
