$blue: #44578f;
$darkpink: #f8887d;
$pink: #f6b1a2;
$lightpink: #f6bdb6;
$coral: #f7dac8;
$lightcoral: #fcf1ea;
$dark-grey: #3c3c3b;
$light-grey: #a5a4a4;
$grey-gradient: linear-gradient(90deg, rgba(165, 164, 164, 1) 34%, rgba(165, 164, 164, 0.13209033613445376) 100%);
$yellow: #f39c12;
$green: #00cf63;
