$default-typo: "sans-serif";
$bold: 800;
$normal: 400;
$fonts-path: "../../fonts/";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

%font-face-latin {
    font-family: "Nunito", unquote($default-typo);
}

%font-face-arabic {
    font-family: "Cairo", unquote($default-typo);
}

%font-face-cyrillic {
    font-family: "Open Sans", unquote($default-typo);
}

%font-face-chinese {
    font-family: "Hiragino Sans GB", 冬青黑体, "Microsoft Yahei", 微软雅黑体,
        "SimHei", 黑体, "STXihei", 华文细黑, unquote($default-typo);
}

@font-face {
    font-family: "cunia-bold", unquote($default-typo);
    src: url($fonts-path + "cunia-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "aileron-black", unquote($default-typo);
    src: url($fonts-path + "aileron-black-webfont.woff2") format("woff2"),
        url($fonts-path + "aileron-black-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "aileron-regular", unquote($default-typo);
    src: url($fonts-path + "aileron-bold-webfont.woff2") format("woff2"),
        url($fonts-path + "aileron-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "aileron-regular", unquote($default-typo);
    src: url($fonts-path + "aileron-heavy-webfont.woff2") format("woff2"),
        url($fonts-path + "aileron-heavy-webfont.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "aileron-regular", unquote($default-typo);
    src: url($fonts-path + "aileron-light-webfont.woff2") format("woff2"),
        url($fonts-path + "aileron-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "aileron-regular", unquote($default-typo);
    src: url($fonts-path + "aileron-regular-webfont.woff2") format("woff2"),
        url($fonts-path + "aileron-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "aileron-regular", unquote($default-typo);
    src: url($fonts-path + "aileron-thin-webfont.woff2") format("woff2"),
        url($fonts-path + "aileron-thin-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}
