<div class="panel">
    <div class="header">
        <h1 class="title">{{ 'dashboard.pending_actions'|trans }}</h1>
    </div>
    <div class="content">
        <div class="status info mt-3">
            {% if nbUsersToApprove > 0 %}
                <a href="{{ path('user_list', {'isApproved': 0, 'roles[0]': constant('App\\Enum\\UserRoleEnum::ROLE_ASSOCIATION'), 'roles[1]': constant('App\\Enum\\UserRoleEnum::ROLE_ADMIN')}) }}">
                    {{ 'dashboard.stats.nb_users_to_approve'|trans({'%nb%': nbUsersToApprove}) }}
                </a>
            {% else %}
                {{ 'dashboard.stats.nb_users_to_approve'|trans({'%nb%': nbUsersToApprove}) }}
            {% endif %}
        </div>
        <div class="status info mt-3">
            {% if nbAssociationsToActivate > 0 %}
                <a href="{{ path('association_list', {'activated': 0}) }}">
                    {{ 'dashboard.stats.nb_association_to_activate'|trans({'%nb%': nbAssociationsToActivate}) }}
                </a>
            {% else %}
                {{ 'dashboard.stats.nb_association_to_activate'|trans({'%nb%': nbAssociationsToActivate}) }}
            {% endif %}
        </div>
    </div>
</div>

<div class="panel">
    <div class="header">
        <h1 class="title">{{ 'dashboard.timeline'|trans }}</h1>
    </div>
    <div class="content">
        <div class="status info mt-3"> {{ 'dashboard.stats.nb_association'|trans({'%nb%': nbAssociations}) }}</div>
        <div class="status info mt-3"> {{ 'dashboard.stats.nb_young'|trans({'%nb%': nbYouth}) }}</div>
        <div class="status info mt-3"> {{ 'dashboard.stats.nb_senior'|trans({'%nb%': nbSeniors}) }}</div>
    </div>
</div>
