<div class="panel">
    <div class="header">
        <h1 class="title">{{ 'dashboard.pending_actions'|trans }}</h1>
    </div>
    <div class="content">
        <div class="status info mt-3">
            {% if nbUsersToApprove > 0 %}
                <a href="{{ path('user_list', {'isApproved': 0}) }}">
                    {{ 'dashboard.stats.nb_users_to_approve'|trans({'%nb%': nbUsersToApprove}) }}
                </a>
            {% else %}
                {{ 'dashboard.stats.nb_users_to_approve'|trans({'%nb%': nbUsersToApprove}) }}
            {% endif %}
        </div>

        {% if nbAccommodationToOpen is defined %}
            <div class="status info mt-3">
                {% if nbAccommodationToOpen > 0 %}
                    <a href="{{ path('accommodation_list', {'status': constant('App\\Enum\\AccommodationStatusEnum::STATUS_AWAITING_APPROVAL')}) }}">
                        {{ 'dashboard.stats.nb_accommodation_to_open'|trans({'%nb%': nbAccommodationToOpen}) }}
                    </a>
                {% else %}
                    {{ 'dashboard.stats.nb_accommodation_to_open'|trans({'%nb%': nbAccommodationToOpen}) }}
                {% endif %}
            </div>
        {% endif %}

        <div class="status info mt-3">
            {% if nbAccommodationDemandToRespond > 0 %}
                <a href="{{ path('accommodation_list') }}">
                    {{ 'dashboard.stats.nb_accommodation_demand_to_respond'|trans({'%nb%': nbAccommodationDemandToRespond}) }}
                </a>
            {% else %}
                {{ 'dashboard.stats.nb_accommodation_demand_to_respond'|trans({'%nb%': nbAccommodationDemandToRespond}) }}
            {% endif %}
        </div>
    </div>
</div>

<div class="panel">
    <div class="header">
        <h1 class="title">{{ 'dashboard.information'|trans }}</h1>
    </div>
    <div class="content">
        <div class="status info mt-3"> {{ 'dashboard.stats.nb_young'|trans({'%nb%': nbYouth}) }}</div>
        <div class="status info mt-3"> {{ 'dashboard.stats.nb_senior'|trans({'%nb%': nbSeniors}) }}</div>
    </div>
</div>

{% include 'event/list_by_status.html.twig' %}
