{% set showHomesharing = app.user.profile.showHomesharing %}

{% if not(hasProfilePicture) or not(hasPassport) %}
    <div class="panel">
        <div class="header">
            <div class="title">
                <h1>{{ 'dashboard.pending_actions'|trans }}</h1>
                {% if showHomesharing %}
                    <span class="sub">{{ ('dashboard.pending_actions.'~app.user|readable_role|split('.')[2])|trans }}</span>
                {% endif %}
            </div>
        </div>
        <div class="content">
            <div class="status {{ hasProfilePicture? 'accepted':'declined' }}">{{ 'dashboard.action.profile_picture'|trans }}</div>
            <div class="status {{ hasPassport? 'accepted':'declined' }} mt-3">{{ 'dashboard.action.passport'|trans }}</div>
        </div>
    </div>
{% endif %}

{% if association %}
    <div class="panel">
        <div class="header">
            <h1 class="title">{{ 'dashboard.information'|trans }}</h1>
        </div>
        <div class="content">
            {{ 'dashboard.information.association'|trans({'%association%': '<a href="'~path('association_show', {'id': association.id})~'">'~association.name~'</a>'})|raw|nl2br }}
        </div>
    </div>
{% endif %}

<div class="panel">
    <div class="header">
        <h1 class="title">{{ 'dashboard.timeline'|trans }}</h1>
    </div>
    <div class="content">
        <div class="status {{ isProfileVerified ? 'accepted':'declined' }} mt-3">{{ isProfileVerified ? 'user.profile_verified'|trans : 'user.profile_not_verified'|trans }}</div>

        {% if showHomesharing %}
            {% if is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_SENIOR')) %}
                <div class="status {{ accommodationFilled? 'accepted':'declined' }} mt-3">{{ 'dashboard.action.accommodation_filled'|trans }}</div>

                {% if accommodation is defined and accommodation is not null %}
                    <div class="status {{ accommodation.classStatus }} mt-3">{{ 'dashboard.action.accommodation_status'|trans({'%status%': ' '~accommodation.status|readable_enum('AccommodationStatusType')|trans }) }}</div>
                {% endif %}
            {% elseif is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_YOUNG')) and accommodationDemandsStatus != null %}
                <div class="status {{ accommodationDemandsStatus == constant('App\\Enum\\AccommodationDemandStatusEnum::STATUS_REFUSED') ? 'declined' : accommodationDemandsStatus }} mt-3">{{ 'dashboard.action.accommodation_demand_status'|trans({'%status%': ('accommodation_demand.status.'~accommodationDemandsStatus)|trans }) }}</div>
            {% endif %}
        {% endif %}
    </div>
</div>

{% if showHomesharing %}
    {% if accommodationDemands is defined %}
        {% set isSenior = (app.user|role == constant('App\\Enum\\UserRoleEnum::ROLE_SENIOR')) %}

        <div class="panel">
            <div class="header">
                <h1 class="title">{{ 'accommodation_demand.title'|trans }}</h1>
            </div>
            <div class="content">
                {% include 'accommodation_demand/_sub_list.html.twig' %}
            </div>
        </div>
    {% endif %}
{% endif %}

{% include 'event/list_by_status.html.twig' with {'showSubtitle': true} %}
