body {
  background-color: white;
}

.medium-font {
  font-size: 20px;
}

.main-title {
  text-align: center;
  margin-bottom: 80px;
}

.second-title {
  margin-top: 50px;
}

.small-font {
  font-size: 15px;
}

.margin-li {
  margin: 20px auto;
}

.logo {
  max-width: 7em;
  margin: auto auto 2em;
  display: block;
}

.col-6 {
  width: 49%;
  display: inline-block;
}
