@import '../components/themed-inputs';
@import '../components/titled-paragraph';
@import "../components/status";
@import "../components/fields-group";
@import "../components/tags";
@import '../components/custom_switch_size';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import '../components/photo';

.step {
  margin-bottom: 1rem;
  padding-left: 1rem;

  .status.declined {
    margin-bottom: 2rem;
  }

  .information {
    @include media-breakpoint-up('sm'){
      width: 20%;
    }
  }

  .title {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;

    &.disabled {
      color: lightgrey;
    }
  }

  .sub {
    font-weight: normal;
    margin-left: 2rem;
  }

  .form {
    width: 100%;

    @include media-breakpoint-down('sm'){
      margin-top: 1rem;
    }

    .undo-step {
      display: none;
      text-align: center;
      left: 0;
      right: 0;
      margin: auto;

      @include media-breakpoint-up('sm'){
        position: absolute;
        bottom: 0;
        width: 25%;
      }

      button {
        border: 0;
        background: $dark-grey;
        color: white;
        border-radius: 20px;
        padding: 7px 20px;
      }
    }
  }

  .button-step {
    text-align: end;
    margin-bottom: 0 !important;
  }

  &:hover{
    & > .undoable{
      opacity: .3;
    }

    .undo-step{
      display: block;
    }
  }

  &:not(:last-child) {
    &:after {
      display: inline-block;
      margin-top: 1rem;
      content: '';
      background: $grey-gradient;
      width: 100%;
      height: 2px;
    }
  }
}
