@import "../bubbles/bubbles";
@import "../bubbles/template-4";
@import "../components/image-card";
@import "../components/themed-inputs";

.contact {
    margin: 8em 0;

    .input {
        &:first-child {
            margin-top: 1.5em;
        }

        &:not(:last-child) {
            margin-bottom: 1em;
        }

        input,
        textarea {
            width: 100%;
        }

        textarea {
            min-height: 250px;
        }
    }

    .image {
        img {
            width: 66%;
            margin: auto;
            display: block;
        }
    }
}
