@import "../bubbles/bubbles";
@import "../bubbles/template-4";
@import "../components/image-card";
@import "../components/event-card";
@import '../components/photo';

.container {
    .header {
        margin: 4em 0;
    }

    .events {
        margin: 4em 0;
    }
}
