@import "../components/image-card";
@import "../components/title-sub";
@import "../components/graph";
@import "../components/details-buttons";
@import "../bubbles/bubbles";
@import "../bubbles/template-1";
@import "../components/odd-even";

.welcome-container {
    min-height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-bottom: 3em;
    justify-content: center;

    .landing {
        flex: 0 0 auto;

        .logo {
            display: inline-block;
            min-height: 250px;
            min-width: 250px;
            border-radius: 50%;
            margin-bottom: 2em;
        }

        .title {
            margin-bottom: 1em;
        }

        .subtitle {
            font-weight: bold;
            font-size: 0.9em;
        }
    }

    .scroll-arrow {
        text-align: center;
        padding: 1em 0;
        flex: 0 0 auto;
        font-size: 2em;
    }
}

.describe {
    margin-top: 10em;

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .image-card {
            flex: 1;
            max-width: 40%;
            &:not(:last-child) {
                margin-bottom: 3em;
            }
        }

        @include media-breakpoint-down("md") {
            flex-direction: column;
            .image-card {
                max-width: 100%;
            }
        }
    }
}
