@import "../bubbles/bubbles";
@import "../bubbles/template-4";

.information {
    margin: 4em 0;

    .title {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 1em;
    }

    section {
        margin-bottom: 4em;
        .title {
            font-size: 1em;
            font-weight: bold;
            margin-bottom: 2em;
        }
    }
}
