@import "../bubbles/bubbles";
@import "../bubbles/template-5";
@import "../components/themed-inputs";
@import "../components/title-sub";
@import "../helpers/colors";

main > .logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    text-align: center;

    .images {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        display: inline-block;
    }
}

.login-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 3em;
    width: 40%;
    background: $lightcoral;
    overflow: auto;

    @include media-breakpoint-down("md") {
        left: 0;
        width: 100%;
    }

    .head {
        .logo {
            text-align: center;
            margin-bottom: 5em;
        }

        * {
            text-align: left;
        }
    }
}
