@import "../bubbles/bubbles";
@import "../bubbles/template-2";
@import "../components/image-card";
@import '../components/map';
@import '../components/themed-inputs';
@import '../components/photo';

.partners {
    .logo {
        padding-bottom: 5px;
        cursor: pointer;
    }
    img {
        width: 100%;
        max-width: 200px;
        border-bottom: 10px solid $coral;

        &.collapsed {
            border-bottom: none;
        }
    }

    #partners-desc {

        .content {
            padding: 15px;
            background-color: $coral;
        }

        .title {
            font-size: 120%;
            font-weight: bold;
        }
    }
}

.map {
    .list {
        text-align: center;

        .row {
            justify-content: center;
        }

        .item {
            cursor: pointer;
            margin: 1rem;
            background: white;
            border: 1px solid $light-grey;
            border-radius: 5px;
            padding: 1rem 0;

            transition: transform 160ms;

            &:hover {
                transform: scale(1.05);
            }

            .photo {
                margin: 1rem 0;
            }

            .information {
                .info {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: .8rem;

                    &.name {
                        font-size: 1.5rem !important;
                        line-height: 1.2;
                    }

                    .link {
                        font-size: .9rem !important;
                    }
                }
            }
        }
    }
}
