@import "../helpers/colors";
@import "../components/suggestions";
@import "../components/small-loader";
@import "~bootstrap/scss/functions";

.dashboard-messages {
    width: 100%;
    height: 100%;
    min-height: 75vh;
    position: relative;
    background: $lightcoral;
    border-radius: 2rem;
    display: flex;
    overflow: hidden;
    z-index: 0;
    $border-color: #c4c4c4;
    border: 1px solid $border-color;

    .photo {
        max-width: 45px;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .inbox {
        &__left-wrapper {
            flex: 0 0 auto;
            overflow: hidden;
            border-right: 1px solid $border-color;
            display: flex;
            flex-direction: column;

            [dir=rtl] & {
                float: right;
                border-left: 1px solid $border-color;
                border-right: none;
            }
        }

        &__left-head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 10px 10px 20px;
            overflow: hidden;
            border-bottom: 1px solid $border-color;
            flex: 0 0 auto;

            div {
                flex: 0 0 auto;

                &:first-child {
                    flex: 1;
                }
            }

            h4 {
                color: theme-color('primary');
                font-size: 21px;
                margin: auto;
            }

            button {
                background: transparent;
                border: none;
                color: $dark-grey;
                font-size: 24px;
                cursor: pointer;
            }
        }
    }

    .thread-selector {
        list-style-type: none;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        -khtml-padding-start: 0;
        -o-padding-start: 0;
        padding-left: 0;
        flex: 1;
        margin-bottom: 0;
        overflow-y: scroll;
        overflow-x: hidden;

        &__item {
            cursor: pointer;
        }

        &__favorite {
            position: absolute;
            cursor: pointer;
            top: 0;
            right: 2px;
        }

        &__item-info {
            position: relative;
            border-bottom: 1px solid $border-color;

            &:hover {
                color: $dark-grey;
                background: rgba($black, 0.05);
                text-decoration: none;
            }

            &:active, &:focus {
                color: $dark-grey;
                background: rgba($black, 0.08);
            }

            &.active {
                color: $dark-grey;
                background: rgba($black, 0.1);
            }
        }

        &__link {
            display: flex;
            color: $dark-grey;
            flex-wrap: nowrap;
            align-items: center;
            padding: .9rem 1.4rem;
            position: relative;

            &.unread {
                &:after {
                    content: ' ';
                    display: inline-block;
                    width: 12px;
                    position: relative;
                    height: 12px;
                    background: theme-color('primary');
                    border: 1px solid $white;
                    border-radius: 50%;
                    vertical-align: middle;
                    margin: 0 .5rem;
                }
            }
        }

        &__image {
            width: 45px;
            flex-shrink: 0;
        }

        &__icon {
            font-size: 30px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            margin-right: .8rem;
        }

        &__user {
            [dir=rtl] & {
                padding-right: 15px;
                padding-left: inherit;
            }
        }

        &__name {
            white-space: nowrap;
            overflow: hidden;
            display: block;
            text-overflow: ellipsis;
            font-size: 15px;
            color: $dark-grey;
        }

        &__type {
            font-size: 12px;
            display: block;
            color: $dark-grey;
        }

        &__date {
            font-size: 11px;
            color: rgba(black, 0.5);
            display: block;
        }

        &__favorite {
            i {
                position: absolute;
                right: 0;
                top: 5px;
            }
        }
    }

    .thread {
        &__header {
            text-align: center;
            border-bottom: 1px solid $border-color;
            height: 59px;
            position: relative;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            display: flex;

            > div {
                &:not(:first-child) {
                    flex: 0 0 auto;
                    padding: 0 1em;
                }

                &:last-child {
                    flex: 0.9;
                }
            }

            .content {
                flex: 1;
            }

            .back {
                flex: 0 0 auto;
                font-size: 24px;
                padding: 0 1em;

                i {
                    cursor: pointer;
                }
            }

            p {
                margin: 0;
                cursor: pointer;
            }

            &--single-option {
                text-transform: capitalize;
                font-size: 20px;
            }
        }

        &__type {
            font-size: 12px;
        }

        &__container {
            overflow-y: auto;
            padding: 0 1em;
            flex: 1;

            &--recipient-form {
                height: 495px;
            }

            &--no-recipient-form {
                height: 693px;
            }
        }

        &__remove-user {
            /*@include iconButton(25px, 20px);*/
            display: none;
            position: absolute;
            top: 20px;
            right: 10px;
            border: 0;
            padding: 0;
            background: transparent;
            cursor: pointer;
        }

        &__form {
            flex: 0 0 auto;
            border-top: 1px solid $border-color;
            position: relative;
        }
    }

    .message-form {
        &__input {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            color: #4c4c4c;
            font-size: 15px;
            min-height: 110px;
            width: 100%;
            padding: 10px 50px 10px 15px;
            outline: none;
            resize: none;

            [dir=rtl] & {
                padding-right: 15px;
                padding-left: 50px;
            }
        }

        &__submit {
            background: theme-color('primary');
            border: medium none;
            border-radius: 50%;
            color: white;
            cursor: pointer;
            font-size: 17px;
            height: 33px;
            width: 33px;
            position: absolute;
            right: 10px;
            top: 10px;

            &:disabled {
                cursor: default;
                opacity: .3;
            }

            &.error {
                background: theme-color('danger');
            }

            [dir=rtl] & {
                right: inherit;
                left: 10px;
            }
        }
    }

    .message {
        & > * {
            vertical-align: middle;
        }

        &--incoming {
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            width: 100%;

            .tags {
                flex: 0 0 auto;

                p {
                    font-size: 10px;
                }
            }
        }

        &--outgoing {
            overflow: hidden;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row-reverse;
            width: 100%;

            & > div {
                width: 100%;
                flex: 1;
                max-width: 50%;
            }

            .tags {
                flex: 0 0 auto;
                width: auto !important;

                p {
                    font-size: 10px;
                }
            }
        }

        &__received {
            display: inline-block;
            flex: 1 !important;
            margin: 0 .5rem;

            [dir=rtl] & {
                padding: 0 10px 0 0;
            }

            & > div {
                width: 100%;
                max-width: 50%;
            }

            p {
                background: #ebebeb none repeat scroll 0 0;
                border-radius: 20px;
                color: #646464;
                font-size: 14px;
                margin: 0;
                padding: 5px 10px 5px 12px;
                width: 100%;

                &.error {
                    color: theme-color('danger');
                }
            }
        }

        &__img {
            width: 30px;
            flex: 0 0 auto;
        }

        &__sent {
            margin-left: auto;
            margin-right: 0;

            p {
                background: theme-color('primary');
                border-radius: 20px;
                font-size: 14px;
                margin: 0;
                color: $white;
                padding: 5px 10px 5px 12px;
                width: 100%;

                a {
                    color: $white;
                }
            }
        }
    }

    .current-thread {
        flex: 1;
        display: flex;
        flex-direction: column;

        [dir=rtl] & {
            float: right;
        }

        form {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    }

    .date-message {
        text-align: center;
        color: gray;
        font-size: 11px;
        margin-bottom: 10px;

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    .no-more-message {
        text-align: center;
        color: gray;
        font-size: 11px;
        margin-top: 20px;
    }
}
