@import "../components/menu";
@import "./assets/sass/helpers/_colors.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$panel-radius: 3rem;

@mixin left-right-spaced {
    &:not(:first-child) {
        margin-left: 1em;
    }

    &:not(:last-child) {
        margin-right: 1em;
    }
}

@mixin top-bottom-spaced {
    &:not(:first-child) {
        margin-top: 1em;
    }

    &:not(:last-child) {
        margin-bottom: 1em;
    }
}

main {
    width: 100%;
    height: 100%;
}

.logo-container {
    height: auto;
    padding: 1.5em;
    text-align: center;

    img {
        width: 200px;
        height: auto;
        object-fit: scale-down;
        vertical-align: middle;
    }

    .md {
        display: none;
    }

    @include media-breakpoint-down("md") {
        img {
            width: 70px;
        }

        .md {
            display: block;
            width: 200px;
            margin: 2em auto 0;
        }
    }
}

.account-container {
    display: flex;
    width: 100%;
    height: 100%;
    background: $coral;
    overflow: hidden;

    @include media-breakpoint-down("md") {
        display: block;
        overflow: auto;
        height: auto;
        background: $lightcoral;
    }

    .account-panel {
        position: relative;
        background: $lightcoral;
        flex: 1 1;
        overflow-x: hidden;
        overflow-y: auto;

        @include left-right-spaced;

        @include media-breakpoint-down("md") {
            flex: 1;
            margin: 0 !important;
        }

        &.md-fixed {
            @include media-breakpoint-down("md") {
                flex: none;
                padding: 0;
                position: fixed;
                z-index: 2;
                bottom: 0;
                left: 0;
                right: 0;
                background: $lightcoral;
            }
        }

        &.can-collapse {
            transition: flex ease-in-out 400ms, padding ease-in-out 400ms;

            .collapse-btn {
                @include media-breakpoint-down("md") {
                    display: none;
                }

                @include media-breakpoint-down("lg") {
                    right: 16rem;
                }

                z-index: 1;
                position: fixed;
                top: 0;
                right: 25rem;
                height: 100%;
                padding: 0 0.6rem;

                .icon {
                    cursor: pointer;
                    text-align: center;
                    position: relative;
                    font-size: 0.9rem;
                    top: 50%;
                    right: 0;
                    left: 0;
                    color: $dark-grey;
                    transform: translateY(-50%);

                    &:before {
                        content: "\f061";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                    }
                }

                &.revert {
                    left: 16.5rem;
                    right: unset;

                    .icon {
                        &:before {
                            content: "\f060";
                        }
                    }
                }
            }

            &.collapsed {
                .can-hide {
                    display: none;
                }

                .can-reduce {
                    margin: 0 2rem 1rem 1rem;
                }

                .collapse-btn {
                    right: 4.5rem;

                    .icon {
                        &:before {
                            content: "\f060";
                        }
                    }

                    &.revert {
                        left: 4.5rem;
                        right: unset;

                        .icon {
                            &:before {
                                content: "\f061";
                            }
                        }
                    }
                }

                .top-link {
                    flex-direction: column;
                    align-items: center;
                }
            }
        }

        &.auto {
            flex: 0 0 auto;
        }

        &.major {
            flex: 2 1;
        }

        &.set {
            background: transparent;

            .panel {
                border-radius: 2rem;
                background: $lightcoral;
                padding: 1.5em;
                @include top-bottom-spaced;

                .header {
                    position: relative;
                    width: 100%;
                    height: auto;
                    align-items: baseline;
                    overflow: hidden;
                    margin-bottom: 2rem;

                    .title {
                        text-overflow: ellipsis;
                        overflow: hidden;

                        .sub {
                            font-family: "aileron-regular", sans-serif;
                            font-size: 1rem;
                            font-weight: normal;
                        }
                    }

                    .button {
                        flex: 0 0 auto;
                        display: inline-flex;

                        & > a:not(:last-child) {
                            margin-right: 1rem;
                        }

                        .edit {
                            font-size: 1.5rem;
                            color: black;
                        }
                    }
                }

                .name {
                    font-size: 2rem;

                    @include media-breakpoint-down("md") {
                        font-size: 1.5rem;
                    }
                }

                form {
                    label {
                        display: block;
                    }

                    & > div:not(:first-child) {
                        margin: 1em 0;
                    }

                    input, textarea {
                        width: 100%;
                    }
                }

                @include media-breakpoint-down("md") {
                    border-radius: 0 !important;
                }
            }
        }

        &:not(.standalone) {
            &:first-child {
                border-bottom-right-radius: $panel-radius;
            }

            &:nth-child(2) {
                border-radius: $panel-radius;
                padding: 1em;
            }

            &:last-child {
                border-top-left-radius: $panel-radius;
            }
        }

        @include media-breakpoint-down("md") {
            border-radius: 0 !important;
        }

        &.hidden {
            display: none;
        }
    }
}

.top-link {
    display: flex;
    justify-content: space-between;
}
