@import "../bubbles/bubbles";
@import "../bubbles/template-4";
@import "../components/image-card";
@import "../components/themed-inputs";

.participate {
    margin: 4em 0;

    .input {
        &:first-child {
            margin-top: 1.5em;
        }

        &:not(:last-child) {
            margin-bottom: 1em;
        }

        input {
            width: 100%;
        }

    }

    #association-list {
        li {
            margin-top: 20px;
            img {
                max-height: 50px;
                max-width: 90px;
            }
        }
    }
}
