@import "../bubbles/bubbles";
@import "../bubbles/template-5";
@import "../components/themed-inputs";
@import "../components/title-sub";
@import '../components/custom_switch_size';
@import "../components/fields-group";
@import "../helpers/colors";
@import "../../../public/bundles/craueformflow/css/buttons";

main > .logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    text-align: center;

    .images {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        display: inline-block;
    }
}

.register-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 3em;
    width: 40%;
    background: $lightcoral;
    opacity: 0.3;
    overflow-x: hidden;

    @keyframes open {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    animation: open 500ms ease forwards;

    @include media-breakpoint-down("md") {
        left: 0;
        width: 100%;
    }

    .head {
        .logo {
            text-align: center;
            margin-bottom: 5em;
        }

        * {
            text-align: left;
        }

        .title-sub {
            margin-bottom: 2em;
        }
    }

    input {
        &[type="text"],
        &[type="password"],
        &[type="email"] {
            width: 100%;
        }
    }

    .step-head {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-bottom: 1em;

        .back-btn-container {
            flex: 0 0 auto;

            .back-btn {
                background: $coral;
                margin-right: 1em;

                &:before {
                    content: "\f359";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    display: inline-block;
                    margin-right: 0.5em;
                }
            }
        }

        .title {
            flex: 1;
            margin-top: 1em;
            text-align: center;
        }
    }

    .input-placeholder {
        margin-top: 1.5em;
        margin-bottom: 0.45em;
    }

    input[type="radio"],
    label,
    legend {
        display: inline-block;
        cursor: pointer;
    }
}
