@import "../bubbles/bubbles";
@import "../bubbles/template-3";
@import "../components/image-card";
@import "../components/odd-even";
@import "../components/details-buttons";

.container {
    .tabs-wrapper {
        margin: 4em 0;
        text-align: center;
    }
}
