{% set showFooter = true %}
{% extends 'base.html.twig' %}

{% set code = status_code in ['404', '403'] ? status_code : '500' %}
{% set route = app.request.headers.get('referer') ? app.request.headers.get('referer') : path('homepage') %}

{% block title %} - {{ "error.label"|trans({'%code%': code}) }} {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block absolute %}
    {% include 'default/bubbles.template1.html.twig' %}
{% endblock %}


{% block body %}
    <div class="welcome-container mb-0">
        <div class="landing">
            <div class="logo">
                <img class="img-fluid" src="{{ asset('build/images/logos/WSWC-HEAD.svg') }}" width="300" alt="logo">
            </div>
            <div class="title">
                <img class="img-fluid" src="{{ asset('build/images/logos/WSWC.png') }}" width="300" alt="logo">
            </div>
            <div class="subtitle">{{ 'homepage.subtitle'|trans }}</div>
        </div>
    </div>

    <div class="welcome-container mt-0">
        <div class="landing">
            <h1 class="mb-3">
                {{ "error.label"|trans({'%code%': code}) }}
            </h1>

            <p class="mb-5">
                {{ ("error."~code)|trans }}
            </p>

            <a href="{{ route }}" type="button" class="btn btn-primary">
                {{ 'error.back.button'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
