{% if user is defined and user is not null %}
    {% set url = vich_uploader_asset(user.profile, 'profilePictureFile') %}
{% endif %}

{% if url is not defined or url is null %}
    {% set url = asset('build/images/no_photo.png') %}
{% endif %}

<div class="photo {% if class is defined %}{{ class }}{% endif %}">
    <img src="{{ url }}" alt="Profile Picture"
            {% if tooltip is defined and tooltip is not null %}
                data-toggle="tooltip" data-placement="right"
                title="{{ tooltip }}"
            {% endif %}
    />
</div>
