<div class="row align-items-center mb-4">
    <div class="col-4 col-md-2">
        {% include "user/_image_user.html.twig" %}
    </div>
    <div class="col-8">
        <div class="name">
            {% if path != 'user_show' %}
                <a href="{{ path('user_show', {'id': user.id}) }}">
                    {{ user.fullName }}
                </a>
            {% else %}
                {{ user.fullName }}
            {% endif %}
        </div>

        <div class="tags">
            <div class="tag">
                {{ user|readable_role|trans }}
            </div>

            {% set isProfileApproved = user.profile.isApproved %}
            <div class="tag {{ isProfileApproved ? 'green' : 'red' }}">
                {{ isProfileApproved ? 'user.profile_verified'|trans : 'user.profile_not_verified'|trans }}
            </div>
        </div>
    </div>
</div>