<div class="profile" data-controller="form-submission">
    {{ form_start(form, {
        'action': path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')),
        'attr': {'data-controller': 'homesharing-dynamic-form'}})
    }}

    {% include "user/_image_user.html.twig" %}
    {% if form.profile.profilePictureFile is defined %}
        {{ form_row(form.profile.profilePictureFile) }}
    {% endif %}

    {{ form_row(form.user.email) }}

    {% if form.user.plainPassword is defined %}
        {{ form_row(form.user.plainPassword.first) }}
        {{ form_row(form.user.plainPassword.second) }}
    {% endif %}

    {{ form_row(form.user.firstname) }}
    {{ form_row(form.user.lastname) }}

    {% if form.user.birthday is defined %}
        {{ form_row(form.user.birthday) }}
    {% endif %}

    {% if form.profile.gender is defined %}
        {{ form_row(form.profile.gender) }}
    {% endif %}

    {% if form.profile.description is defined %}
        {{ form_row(form.profile.description) }}
    {% endif %}

    {% if form.profile.languages is defined %}
        {{ form_row(form.profile.languages) }}
    {% endif %}

    {% if form.profile.hobbies is defined %}
        {{ form_row(form.profile.hobbies) }}
    {% endif %}

    {% if form.profile.university is defined %}
        {{ form_row(form.profile.university) }}
    {% endif %}

    {% if form.profile.studies is defined %}
        {{ form_row(form.profile.studies) }}
    {% endif %}

    {% if form.profile.passportFile is defined %}
        {{ form_row(form.profile.passportFile) }}
    {% endif %}

    {% if form.user.location is defined %}
        <div class="position-relative">
            {{ form_row(form.user.location) }}
        </div>
    {% endif %}


    {% if form.user.association is defined %}
        {{ form_row(form.user.association) }}
    {% endif %}

    {% if form.profile.phoneNumber is defined %}
        {{ form_row(form.profile.phoneNumber) }}
    {% endif %}

    {% if form.profile.international is defined %}
        <div class="pt-3">
            {{ form_row(form.profile.international) }}
        </div>
    {% endif %}

    {% if form.profile.showHomesharing is defined %}
        <div class="pt-3">
            <legend class="col-form-label">{{ 'user.homesharing'|trans }}</legend>
            {{ form_row(form.profile.showHomesharing) }}
        </div>
    {% endif %}

    {% if form.profile.motivation is defined %}
        <div data-homesharing-dynamic-form-target="motivation">
            {{ form_row(form.profile.motivation) }}
        </div>
    {% endif %}

    {% if form.profile.mobilityLetterFile is defined %}
        <div data-homesharing-dynamic-form-target="mobilityLetter">
            {{ form_row(form.profile.mobilityLetterFile) }}
        </div>
    {% endif %}

    {% if form.profile.currency is defined %}
        <div data-homesharing-dynamic-form-target="currency">
            {{ form_row(form.profile.currency) }}
        </div>
    {% endif %}

    {{ form_rest(form) }}
    {{ form_errors(form) }}

    <div class="pt-4 text-right">
        <button type="submit" class="btn btn-primary btn--shadow" data-form-submission-target="submitButton">
            {{ 'actions.submit'|trans }}
        </button>
    </div>

    {{ form_end(form) }}
</div>
