{% extends 'account/_panels.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('users_list') }}
{% endblock %}

{% block title %}| {{ 'user.list.meta.title'|trans }}{% endblock %}

{% block dashboardContent %}
    <div class="panel">
        <div class="content">
            <div class="row px-3 pb-3">
                {% if is_granted(constant('App\\Enum\\UserVoterEnum::CREATE_SENIOR_ACCOUNT'), app.user) %}
                    <a href="{{ path('user_new') }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> {{ 'user.new_senior.meta.title'|trans }}</a>
                {% endif %}
                <div class="ml-auto mt-3 mt-sm-0">
                    <button id="download-csv" type="button" class="btn"><i class="fas fa-download"></i> Export as CSV</button>
                </div>
            </div>

            <div id="tabulator"
                 data-roles="{{ roles|json_encode }}"
                 data-associations="{{ associations|json_encode }}"
                 data-genders="{{ genders|json_encode }}"
                 data-boolean="{{ booleanFilter|json_encode }}"
                 data-filters="{{ app.request.query.all|json_encode }}"
            ></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('users_list') }}
{% endblock javascripts %}
