{% form_theme form 'form/_fields.html.twig' %}

<div class="mx-3">
    {{ form_start(form, {'action': path('profile_notifications_edit')}) }}

    {% for type in types %}
        <h3 class="my-4">{{ ('user.notification.'~type)|trans }}</h3>

        {% for notif in form.notifications %}
            {% if type in notif.vars.id and not(notif.rendered) %}
                {{ form_row(notif) }}
            {% endif %}
        {% endfor %}
    {% endfor %}


    {{ form_errors(form) }}

    <div class="py-4 text-right">
        <input type="submit" class="btn btn-success" value="{{ 'actions.submit'|trans }}"/>
        <button type="button" data-dismiss="modal" class="btn modal-close">{{ 'actions.cancel'|trans }}</button>
    </div>

    {{ form_end(form) }}
</div>
