{% include 'user/_user_introduction.html.twig' %}
<div class="content" data-controller="popup-on-click" data-popup-on-click-id-value="{{ user.id }}">
    {% if user == app.user or is_granted(constant('App\\Enum\\UserRoleEnum::ROLE_ASSOCIATION')) %}
        {% if user.email %}
            <div class="titled-p">
                <div class="title">{{ 'user.email'|trans }}</div>
                <div class="text"><a href="{{ 'mailto:'~user.email }}">{{ user.email }}</a></div>
            </div>
        {% endif %}

        {% if user.profile.phoneNumber %}
            <div class="titled-p">
                <div class="title">{{ 'user.phone_number'|trans }}</div>
                <div class="text">{{ user.profile.phoneNumber|phone_number_format('INTERNATIONAL') }}</div>
            </div>
        {% endif %}

        {% if user.profile.passportName %}
            <div class="titled-p">
                <div class="title">{{ 'user.passport'|trans }}</div>
                <div class="text">
                    {% set url = vich_uploader_asset(user.profile, 'passportFile') %}
                    <a href="{{ url }}" title="User ID" download>
                        <i class="fas fa-file-image fa-3x"></i>
                    </a>
                </div>
            </div>
        {% endif %}

        {% if user.profile.mobilityLetterName %}
            <div class="titled-p">
                <div class="title">{{ 'user.mobility_letter'|trans }}</div>
                <div class="text">
                    {% set url = vich_uploader_asset(user.profile, 'mobilityLetterFile') %}
                    <a href="{{ url }}" title="User mobility letter" download>
                        <i class="fas fa-file-image fa-3x"></i>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if user.birthday is not null %}
        <div class="titled-p">
            <div class="title">{{ 'user.birthday'|trans }}</div>
            <div class="text">{{ user.birthday|format_date('long') }}</div>
        </div>
    {% endif %}

    {% if user.profile.gender is not null %}
        <div class="titled-p">
            <div class="title">{{ 'user.gender'|trans }}</div>
            <div class="text">{{ user.profile.gender|readable_enum('ProfileGenderType')|trans }}</div>
        </div>
    {% endif %}

    {% if user.profile.description is not null %}
        <div class="titled-p">
            <div class="title">{{ 'user.description'|trans }}</div>
            <div class="text">{{ user.profile.description|trans }}</div>
        </div>
    {% endif %}

    {% if not(user|is_manager) %}
        <div class="titled-p">
            <div class="title">{{ 'user.homesharing'|trans }}</div>
            <div class="text">{{ user.profile.showHomesharing ? 'yes'|trans : 'no'|trans }}</div>
        </div>

        {% if user.profile.showHomesharing and user.profile.motivation is not null %}
            <div class="titled-p">
                <div class="title">{{ 'user.motivation'|trans }}</div>
                <div class="text">{{ user.profile.motivation }}</div>
            </div>
        {% endif %}
    {% endif %}

    {% if user.location.country is not null %}
        <div class="titled-p">
            <div class="title">{{ 'user.live_in'|trans }}</div>
            <div class="text">{{ user.location.readableAddress }}</div>
        </div>
    {% endif %}

    {% if user.association is not null %}
        <div class="titled-p">
            <div class="title">{{ 'user.association'|trans }}</div>
            <div class="text">{{ user.association.name }}</div>
        </div>
    {% endif %}

    {% if user.profile.languages|length > 0 %}
        <div class="py-4 titled-p">
            <div class="title">{{ 'user.languages'|trans }}</div>
            <div class="tags">
                {% for language in user.profile.languages %}
                    <div class="tag">
                        {{ language|language_name|capitalize }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if user.profile.hobbies|length > 0 %}
        <div class="py-4 titled-p">
            <div class="title">{{ 'user.hobbies'|trans }}</div>
            <div class="tags">
                {% for hobby in user.profile.hobbies %}
                    <div class="tag">
                        {{ hobby.name }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% set showButtons = [] %}
    {% set approvalButtons = [] %}

    {% if path not in ['user_edit', 'profile_edit'] and is_granted(constant('App\\Enum\\UserVoterEnum::EDIT'), user) %}
        {% set path = app.user == user ? path('profile_edit') : path('user_edit', {id: user.id}) %}
        {% set showButtons = showButtons|merge([
            {
                'path': path,
                'icon': 'fa-pen',
                'text': 'actions.edit'|trans,
                'class': 'btn-primary mb-2'
            }
        ]) %}
    {% endif %}

    {% if is_granted(constant('App\\Enum\\UserVoterEnum::EDIT_NOTIFICATIONS'), user) %}
        {% set approvalButtons = approvalButtons|merge([
            {
                'route': 'profile_notifications_edit',
                'icon': 'fa-bell',
                'text': 'actions.edit_notifications'|trans,
                'class': 'btn-primary mb-2',
                'title': 'actions.edit_notifications'|trans
            }
        ]) %}
    {% endif %}

    {% if is_granted(constant('App\\Enum\\UserVoterEnum::SEND_MESSAGE'), user) %}
        {% set showButtons = showButtons|merge([
            {
                'path': path('messages', {'_fragment': 'new-thread', 'recipient': user.id}),
                'icon': 'fa-envelope',
                'text': 'actions.message'|trans,
                'class': 'btn-info mb-2'
            }
        ]) %}
    {% endif %}

    {% if is_granted(constant('App\\Enum\\UserVoterEnum::APPROVE'), user) %}
        {% set approvalButtons = approvalButtons|merge([
            {
                'route': 'user_approval',
                'class': 'btn-success mb-2'
            }
        ]) %}
    {% endif %}

    {% if is_granted(constant('App\\Enum\\UserVoterEnum::CLAIM_MANAGEMENT'), user) %}
        {% set approvalButtons = approvalButtons|merge([
            {
                'route': 'user_claim_management',
                'class': 'btn-success mb-2',
                'icon': 'fa-user-plus',
                'text': 'actions.manage'|trans
            }
        ]) %}
    {% endif %}

    {% if is_granted(constant('App\\Enum\\UserVoterEnum::DELETE'), user) %}
        {% set approvalButtons = approvalButtons|merge([
            {
                'route': 'user_delete',
                'icon': 'fa-trash-alt',
                'class': 'btn-danger mb-2',
                'text': 'actions.delete'|trans
            }
        ]) %}
    {% endif %}

    {% if showButtons|length > 0 or approvalButtons|length > 0 %}
        <div class="titled-p">
            <div class="title">{{ 'actions'|trans }}</div>
            <div class="text">
                {% include 'default/_list_actions.html.twig' with {
                    'showButtons': showButtons,
                    'approvalButtons': approvalButtons
                } %}
            </div>
        </div>
    {% endif %}
</div>
