<p>
    {% set agreementUrl = url('agreement_show', {'id': cohabitation.id}) %}
    {{ 'mail.cohabitation.agreement.content'|trans({'%senior%': senior.fullName, '%young%': young.fullName, '%agreement_link%': '<a href="'~agreementUrl~'">'~agreementUrl~'</a>'})|raw|nl2br }}
</p>
