<p>
    {{ 'mail.account.email_confirmation.content'|trans({'%username%': username, '%confirmationUrl%': '<a href="'~signedUrl~'">'~signedUrl~'</a>', '%hoursBeforeExpiration%': expiresAtMessageKey|trans(expirationMessageData, 'VerifyEmailBundle')})|raw|nl2br }}
</p>
